a, button{
	&.btn{
		position: relative;
		display: inline-block;
		box-sizing: border-box;
		background-color: transparent;
		&.btn_line{
			@include bd(color(white, 0));
			background-color: color(white, 0);
			box-sizing: border-box;
			&:hover{
				background-color: color(black, 8);
			}
			&[class*=st1]{
				border-color: color(black,3);
				border-radius: rem(6px);
			}
			&[class*=st2]{
				border-color: color(black,6);
				border-radius: rem(100px);
			}

		}
		&.btn_fill{
			@include bd(color(black, 1));
			border-radius: rem(6px);
			background-color: color(black, 1);
			&:hover{
				background-color: color(black, 21);
			}
		}
		.txt{
			position: relative;
			display: inline-block;
			font-family: $sub-font;
		}
	}
}
a{
	&.btn{
		// 지원하러 가기
		&.btn_recruit{
			height: rem(34px);
			line-height: rem(32px);
			padding: 0 rem(20px);
			.txt{
				&.txt_recruit{
					font-size: $size12;
					color: color(black,2);
				}
			}
		}
	}	
}
button{
	&.btn{
		// 더보기
		&.btn_add{
			height: rem(54px);
			line-height: rem(52px);
			padding: 0 rem(170rem) 0 rem(160rem);
			.txt{
				// 더보기
				&.txt_add{
					font-weight: $weight-medium;
					@include font($size16, null, color(black, 1));
					&::before{
						content: '';
						@include posrt(-18px, 50%);	
						@include size(100%);
						display: block;
						margin-top: rem(-3px);
						@include svgsprite($ic_btn_arrow, common)
					}
				}
			}
		}
		// 패밀리 사이트 
		&.btn_site{
			@include size(100%, rem(40px));
			line-height: rem(38px);
			padding: 0 rem(100px) 0 rem(20px);
			text-align: left;
			.txt{
				// 패밀리 사이트 
				&.txt_site{
					font-weight: $weight-regular;
					@include font($size14, null, color(black, 2));
					&::before{
						content: '';
						@include posrt(rem(-80px), 50%);	
						@include size(100%);
						display: block;
						margin-top: -3px;
						@include svgsprite($ic_btn_arrow, common)
					}
				}
			}
		}
		// 공유
		&.btn_share{
			height: rem(54px);
			padding: 0 rem(40px) 0 rem(60px);
			@include font($size16, rem(54px), color(black, 1));
			.txt{
				&.txt_share{
					&::before{
						content: '';
						@include poslt(rem(-20px), 50%);	
						@include svgsprite($ic_btn_share, common);
						transform: translateY(-50%);
					}
				}
			}
		}
		// 목록으로 가기
		&.btn_list_view{
			height: rem(54px);
			padding: 0 rem(40px) 0;
			@include font($size16, rem(54px), color(white, 0));
		}
	}	
}


.is_select{
	.btn_site{
		.txt{
			&.txt_site{
				&::before{
					transform: rotate(180deg);
				}
			}
		}
	}
}
