a, button{
	&.btn{
		background-color: transparent;
		&.btn_line{
			position: relative;
			display: inline-block;
			box-sizing: border-box;
			border-width: 1px; 
			border-style: solid;
			background-color: color(white, 0);
			&[class*=st1]{
				border-color: color(black,3);
				border-radius: 3px;
			}
			&[class*=st2]{
				border-color: color(black,6);
				border-radius: 100px;
			}
		}
		.txt{
			position: relative;
			display: inline-block;
			font-family: $sub-font;
		}
	}
}
a{
	&.btn{
		// 지원하러 가기
		&.btn_recruit{
			height: rem(34px);
			line-height: rem(32px);
			padding: 0 rem(20px);
			.txt{
				&.txt_recruit{
					font-size: $size12;
					color: color(black,2);
				}
			}
		}
	}	
}
button{
	&.btn{
		// 더보기
		&.btn_add{
			height: rem(54px);
			line-height: rem(52px);
			padding: 0 rem(160rem);
			.txt{
				// 더보기
				&.txt_add{
					font-weight: $weight-medium;
					font-size: $size16;
					color: color(black,1);
					&::before{
						content: '';
						@include posrt(-18px, 50%);	
						display: block;
						width: 100%; 
						height: 100%; 
						margin-top: -3px;
						@include svgsprite($ic_btn_arrow, common)
					}
				}
			}
		}
		// 패밀리 사이트 
		&.btn_site{
			width: 100%;
			height: 40px;
			line-height: 38px;
			padding: 0 100px 0 20px;
			text-align: left;
			.txt{
				// 패밀리 사이트 
				&.txt_site{
					font-weight: $weight-regular;
					font-size: $size14;
					color: color(black,2);
					&::before{
						content: '';
						@include posrt(-80px, 50%);	
						display: block;
						width: 100%; 
						height: 100%; 
						margin-top: -3px;
						@include svgsprite($ic_btn_arrow, common)
					}
				}
			}
		}
	}	
}


.is_select{
	.btn_site{
		.txt{
			&.txt_site{
				&::before{
					transform: rotate(180deg);
				}
			}
		}
	}
}
