.input_wrap{
	position: relative;
	display: inline-block;
	border-bottom: 1px solid color(black,9);
	font-size: 16px;
	vertical-align: top;
	input{
		line-height: 73px;
	}
	&.full{
		width: 100%;
	}
	textarea{
		@include size(100%,228px);
		line-height: 28px;
		margin: 22px 0;
	}
	select{
		@include font(16px,73px);
	}
	.ip_radi{
		margin-top: 28px;
		margin-bottom: 26px;
		~ .ip_radi{
			margin-left: 40px;
		}
	}
	.sel_file_btn_wrap{
		label{
			display: block;
			@include size(139px,57px);
			line-height: 55px;
			margin-top: 30px;
			margin-bottom: 15px;
			border: 1px solid color(black,8);
			text-align: center;
			box-sizing: border-box;
		}
		span{
			display: block;
			line-height: 24px;
			margin-bottom: 30px;
		}
		.file_name{
			@include poslt(150px,22px);
			width: 568px;
			color: color(black,2);
		}
	}
	input[type="file"] {
		position: absolute;
		@include size(0,0);
		padding: 0;
		border: 0;
		overflow: hidden;
	}
}