.dim_pop_wrap{
	.pop_wrap{
		&[class*=main_values_]{
			@include size(1200px,609px);
			padding: 75px 100px;
			.tit{
				h1{
					font-size: 26px;
					color: color(black,10);
					margin-bottom: 40px;
					em{
						font-size: 20px;
						font-weight: normal;
						padding-left: 5px;
					}
				}
				&:after{
					@include absolute(auto,auto,77px,103px);
					background-image: url('#{$spr-img-url}/main.png');
					@include sprite($pop_main_values_01_bg);
				}
			}
			.btn_close{
				@include posrt(104px,77px);
			}
			.content{
				.content_inner{
					p{
						display: inline-block;
						width: 307px;
						@include font(20px,32px);
						font-weight: bold;
						vertical-align: top;
					}
					span{
						display: inline-block;
						width: 688px;
						@include font(18px,35px);
						color: color(black,10);
						margin-top: -2px;
					}
				}
			}
		}
		&.main_values_01{
			.tit{
				&:after{
					@include sprite($pop_main_values_01_bg);
				}
			}
		}
		&.main_values_02{
			.tit{
				&:after{
					@include sprite($pop_main_values_02_bg);
				}
			}
		}
		&.main_values_03{
			.tit{
				&:after{
					@include sprite($pop_main_values_03_bg);
				}
			}
		}
		&.main_values_04{
			.tit{
				&:after{
					@include sprite($pop_main_values_04_bg);
				}
			}
		}
		&.main_values_05{
			.tit{
				&:after{
					@include sprite($pop_main_values_05_bg);
				}
			}
		}
	}
}