$keyvisual-height : 973px;

.keyvisual{
	position: relative;
	height: $keyvisual-height;
	background-image: url(#{$main-img}/img_main_keyvisual_v2_001.png);
	background-position: center;
	background-size:cover;
	.keytxt{
		@include poslt(0,320px);
		width:100%;
		// z-index: z-index(high);
		@include swiper;
		li{
			color: color(white,0);
			opacity: 0 !important;
			&.swiper-slide-active{
				opacity: 1 !important;
			}
			&.fir{
				margin-top: 40px;
			}
		}
		span{
			display:block;
			margin:0 auto;
			width:1200px;
			font-family: $w-font;
			@include font(46px,70px);
		}
		p{
			width:1200px;
			@include font(24px,45px);
			margin:21px auto 0;
		}
	}
	> button{
		@include poslb(50%,45px);
		@extend %spr_main;
		@include sprite($ico_arrow_down_w_34);
		background-color: transparent;
		margin-left: -17px;
		z-index: z-index(high);
	}
}
