html, body{
	height: 100vh;
	font-size: $size;
	font-weight: $weight-regular;
}

// * {
// 	backdrop-filter: blur(20px);
// 	-webkit-backdrop-filter: blur(20px);
// 	}
.is_show{
	display: block !important;
}
.is_hide{
	display: none !important;
}

.is_dim{
	.main, .footer_wrap{
		filter: blur(6px);
  	-webkit-filter: blur(6px);
	}
	&::before{
		content: '';
		@include poslt(0, 0);
		width: 100%; 
		height: 100%;
		opacity: 0.06;
		z-index: 100;
	}
}	

// layout 공통
.wrap{
	position:relative;
	height: 100%;
}
.center_inner{
	position:relative;
	width: $content-size;
	min-width: $content-size;
	margin: 0 auto;
	text-align: left;
	&.center{
		text-align: center;
	}
}
// 공통 컨테이너 
.container{
	position: relative;
	text-align: center;
	min-height: calc(100% - #{$footer-h});
	.container_inner_wrap{
		position: relative;
		display: inline-block;
		width: $content-size;
		min-height: 700px;
		padding-top: $header-h;
		padding-bottom: 200px;
		.container_inner{
			position: relative;
			padding: 0 32px;
		}
	}
}
