// lucy


// footer
// @import '../../vendors/img/footer';

%spr_footer{
	// background-image:url('../spr/footer.png');
	background-repeat: no-repeat;
}

.footer_wrap{
	position: absolute;
	bottom: 0;
	left: 0;
	width:100%;
	height: 247px;
	text-align:left;
	font-size: 0;
	background: color(black,4);
	color: color(black,6);
	.footer_logo {
		display: inline-block;
		vertical-align: top;
		a {
			display:block;
			color: red;
			@extend %spr_footer;
			// @include sprite($logo_footer);
			@extend %img-replace;
		}
	}
	.foorer_menu{
		display: inline-block;
		vertical-align: top;
		font-family: $w-font;
		ul{
			li{
				display: inline-block;
				font-size: 14px;
				font-weight: bold;
				margin-left: 47px;
				a{
					color: color(black,7);
				}
				&.private_policy a{
					color: color(white,0);
				}
			}
		}

	}
	p{
		display: inline-block;
		padding-left: 102px;
		margin-top: 21px;
		@include font(14px,28px);
	}
	.sns_wrap{
		float: right;
		a{
			display: inline-block;
			margin-left: 10px;
			@extend %spr_footer;
			// &.blog{@include sprite($ico_footer_sns_b);}
			// &.npost{@include sprite($ico_footer_sns_n);}
			// &.cafe{@include sprite($ico_footer_sns_c);}
			// &.insta{@include sprite($ico_footer_sns_i);}
			// &.fb{@include sprite($ico_footer_sns_f);}
			// &.youtube{@include sprite($ico_footer_sns_y);}
		}
	}
}

