@import '../../vendors/svg/footer';
.footer_wrap{
	position: relative;
	@include size(100%, rem(247px));
	text-align:left;
	background-color: color(black,9);
	@include font(0, null, color(black,6));
	.footer_inner{
		position: relative;
		padding: rem(60px) rem(32px);
	}
	.footer_logo{
		display: inline-block;
		vertical-align: top;
		a{
			display: block;
			@include svgsprite($logo_footer, footer);
			@extend %img-replace;
		}
	}
	.info_area{
		margin-top: rem(12px);
		.category_box{
			display: inline-block;
			li{	
				display: inline-block;
				margin: 0 rem(8px);
				&:first-child{
					margin-left: 0;
					a{
						padding-left: 0;
						&::before{
							content: none
						}
					}
				}
				a{
					position: relative;
					padding: 0 rem(8px);
					@include font($size14, null, color(black, 3));
					opacity: 0.8;
					&::before{
						content: '';
						display: block;
						@include poslt(rem(-8px), 50%);
						@include size(rem(1px), rem(14px));
						transform: translate(-50%, -50%);
						border-radius: rem(100px);
						background-color: color(black,10);
					}
				}
			}
		}	
		.info_box{
			margin-top: rem(40px);
			@include font($size13, 1.6em, color(black,3));
			font-family: $sub-font;
			font-weight: $weight-light;
		}
	}
	.side_box{
		@include posrt(rem(32px), rem(60px));
		z-index: z-index(mid);
		.side_sns, .side_family_site{
			display: inline-block;
			vertical-align: middle;
		}
		.side_sns{
			a{
				display: inline-block;
				margin-right: rem(10px);
				@extend %img-replace;
				&.sns_youtube{
					@include svgsprite($ic_youtube, footer);
				}
				&.sns_facebook{
					@include svgsprite($ic_facebook, footer);
				}
				&.sns_instagram{
					@include svgsprite($ic_instagram, footer);
				}
			}
		}
		.side_family_site{
			position: relative;
			width: rem(204px);
			margin-left: rem(10px);
			.txt_site{
				display: block;
			}
			&.is_select{
				.site_list_grp{
					display: block;
					
				}
			}
			&.is_unselect{
				.site_list_grp{
					display: none;
				}
			}
			.site_list_grp{
				display: none;
				@include poslb(0, rem(44px));
				width: 100%;
				padding: rem(12px) 0; 
				border: 1px solid color(black,3);
				background-color: color(white,0);
				border-radius: rem(12px);
				box-sizing: border-box;
				z-index: z-index(basic);
				.site_list{
					height: rem(40px);
					padding: 0 rem(12px);
					font-family: $sub-font;
					@include font($size14, rem(40px), color(black,1));
					a{
						position: relative;
						display: block;
						padding: 0 rem(8px);
						border-radius: rem(8px);
						&:before{
							content: '';
							@include posrt(10px, 50%);
							@include svgsprite($ic_footer_link, common);
							margin-top: rem(-8px);
						}
						&:hover{
							background-color: color(black,8);
						}
					}
				}
			}
		}
	}
}
