// lucy
//header
header{
	@include fixed(0,0,null,0);
	height: $header-h;
	overflow: hidden;
	box-sizing: border-box;
	background: color(white,0);
	z-index: z-index(fixed);
	&:after{
		content:'';
		@include poslb(0,0);
		@include size(100%,1px);
		background-color: color(black,6);
	}
}
h1.logo{
	position: absolute;
	top: 0; 
	left: 32px;
	a{
		@include poslt(0, 20px);
		display: block;
		@include svgsprite($logo, smain);
		@extend %img-replace;
	}
}
.gnb_wrap{
	float: right;
	height: 100%;
	vertical-align: top;
	// gnbgul
	.gnb{
		@extend %clearfix;
		height: 100%;
		margin-left: 157px;
	}
	.category_area{
		height: 100%;
		margin-right: 242px;
		li{
			position: relative;
			float: left;
			padding: 0 5px;
			height: 80px;
			box-sizing: border-box;
			> a{
				position: relative;
				display: inline-block;
				@include font($size5, 80px, color(black,0));
				.base{
					position: absolute;
					top: 0; 
					left: 0;
					width: 100%;
					text-align: center;
				}
				.hover{
					em{
						color: color(red,0)
					}
				}
				&:not(:hover){
					.base{
						visibility: visible;
					}
					.hover{
						visibility: hidden;
					}
				}
				&.active, 
				&:hover{
					.base{
						visibility: hidden;
					}
					.hover{
						visibility: visible;
					}
				}
			}
		}
	}
	.btn_area{
		@include posrt(0, 20px);
		font-size: 0;
		a, button{
			margin-right: 20px;
			vertical-align: middle;
		}
		.btn_recruit{
			display: inline-block;
			height: 34px;
			line-height: 34px;
			padding: 0 20px;
			border: 1px solid color(black,6);
			background-color: color(white,0);
			span{
				font-family: $SpoqaHanSans-font;
				font-size: $size2;
				color: color(black,2);
			}
		}
		.btn_search{
			position: relative;
			@include size(24px);
			background-color: transparent;
			span{
				display: block;
				@include svgsprite($ic_header_search, smain);
				@extend %img-replace;
			}
		}
		.btn_category{
			position: relative;
			@include size(24px);
			background-color: transparent;
			span{
				display: block;
				@include svgsprite($ic_btn_menu, smain);
				@extend %img-replace;
			}
		}
	}
}


@media (max-width: 1279px){
	.center_inner{
		width: 100%
	} 
}
