//header
.header_scroll_bar{
	@include fixed($header-h, null, null, 0);
	@include size(0, rem(4px));
	background-color: color(red,0);
	z-index: 100;
}
.header_wrap{
	@include fixed(0,0,null,0);
	height: $header-h;
	box-sizing: border-box;
	background: color(#ffffff,0);
	text-align: center;
	// @include bd(color(black,6));
	z-index: z-index(fixed);
	&:before{
		content:'';
		@include poslt(0, $header-h);
		@include size(100%, 1px);
		background-color: color(black,6);
		z-index: 100;
	}
	.header_inner_wrap{
		position: relative;
		display: inline-block;
		min-width: $content-size;
		height: $header-h;
		.header_inner{
			position: relative;
			height: 100%;
			margin: 0 rem(32px);
		}
	}
	h1.logo{
		@include poslt(0, 50%);
		transform: translateY(-50%);
		a{
			display: block;
			@include svgsprite($logo, common);
			@extend %img-replace;
			&:hover{
				@include svgsprite($logo_hover, common);
			}
		}
	}
}
.gnb_wrap{
	float: right;
	height: 100%;
	vertical-align: top;
}
.gnb{
	height: 100%;
	margin-right: rem(242px);
	font-size: 0;
	@include gnb(category);
	li{
		position: relative;
		display: inline-block;
		margin: 0 rem(11px);
		height: rem($header-h);
		box-sizing: border-box;
		vertical-align: middle;
		> a{
			position: relative;
			display: inline-block;
			@include font($size20, $header-h, color(black,0));
		}
	}
}

.btn_area{
	@include posrt(0, 50%);
	transform: translateY(-50%);
	font-size: 0;
	a, button{
		vertical-align: middle;
	}
	button{
		position: relative;
		@include size(rem(36px));
		line-height: rem(36px);
		margin-left: rem(20px);
		background-color: transparent;
		span{
			display: inline-block;
			vertical-align: middle;
			@extend %img-replace;
		}
		// 검색 
		&.btn_search{
			.i_search{
				@include svgsprite($ic_header_search, common);
			}
		}
		// 모바일 메뉴 열기
		&.btn_category{
			display: none;
			.i_category{
				@include svgsprite($ic_btn_menu, common);
			}
			// 모바일 메뉴 닫기
			&.btn_close{
				z-index: 10;
				.i_category{
					@include svgsprite($ic_header_pop_close, common);
				}
			}	
		}
	}
}
