<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title>위메프 지식재산권 센터</title>
	<link rel="stylesheet" href="../../resources/css/font.css" />
	<link rel="stylesheet" href="../../resources/css/common.css?v=2020061801" />
	<link rel="stylesheet" href="../../resources/css/layout.css" />
	<link rel="stylesheet" href="../../resources/css/sub.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/resources/js/common.js?v=2020061801"></script>
	<script src="/resources/js/functions.js?v=1910221"></script>

	<script type="text/javascript">
		window.onload = function () {
			var agent = navigator.userAgent.toLowerCase();

			// ie
			if ((navigator.appName == 'Netscape' && agent.indexOf('trident') != -1) || (agent.indexOf("msie") != -1)) {

				var browser;
				var result = agent.match(/msie (\d+)/);
				if (result != null) {
					browser = result[1];
				}

				// ie11 제외 (호환성모드 포함)
				if ((browser == "10" && agent.indexOf("trident/6") != -1) ||
					(browser == undefined && agent.indexOf("trident/7") != -1)) {
					return;
				}

				alert("인터넷익스플로러(IE) 10버전 이하는 지원하지 않습니다.\n IE11버전으로 업그레이드 또는 Chrome브라우저를 이용해주시기 바랍니다.");
				return false;
			}
		}
	</script>
</head>

<body>
	<!-- skip navigation -->
	<div id="skipNavigation">
		<a href="#container">본문 바로가기</a>
		<a href="#gnb">메뉴 바로가기</a>
	</div>
	<!-- //skip navigation -->

	<div class="wrap">
		<!-- header -->
		<header id="header">
			<div class="inner center">
				<h1 class="logo"><a href="/"><img src="/resources/img/common/logo.png" alt="위메프 지식재산권 센터 " /></a></h1>
				<ul class="gnb" id="gnb">
					<li><a href="/sub01.do">지식재산권센터 안내</a></li>
					<li><a href="/sub02.do">신고하기</a></li>
					<li><a href="/fileDownload.do?indexType=SAMPLE&applyNo=ipcenter_guide" target="_blank">센터 이용가이드</a></li><!-- UIDEV-1972 수정 -->
					<li><a href="#none">FAQ</a></li><!-- UIDEV-1972 추가 -->
				</ul>
			</div>
		</header>
		<!-- //header -->



		<!-- container -->
		<section class="container" id="container">

			<div class="sub-visual">
				<img src="/resources/img/sub/sub_visual.jpeg" alt="" />
			</div>

			<nav class="breadcrumb">
				<ol>
					<li><a href="/">홈</a></li>
					<li class="active">지식재산권센터 안내</li>
				</ol>
			</nav>

			<!-- sub-content -->
			<div class="sub-content guide">

				<h2 class="page-title">FAQ</h2>

				<!-- 파트너사용 탭 -->
				<div class="accordion-menu">
					<ul>
						<li>
							<a class="qst"><em>Q</em>신고됐다는 메일을 받았는데, 신고내용 등은 어디서 확인할 수 있나요?</a>
							<div class="ans"><em>A</em>'파트너 2.0 어드민'에 접속 하신 후, [알림] 탭 상 [지식재산권 소명 요청] 링크, 또는 좌측 최하단<br />
							지식재산권센터 링크를 통해 접속이 가능합니다.<br />
							접속하신 후 ‘접수리스트’ 에서 ‘상세보기’를 클릭하시면,<br />
							페이지 상단에 신고내용과 신고대상 상품번호가 모두 안내 되어 있어 확인하실 수 있습니다.
							<div class="img">
								<img class="shadow1" src="/resources/img/sub/sub_faq_img_01.png" alt="">
							</div>
						</div>
						</li>
						<li>
							<a class="qst"><em>Q</em>신고 받은 권리에 대해 확인하고 싶습니다. 어디서 확인 가능한가요?</a>
							<div class="ans"><em>A</em>산업재산권(특허, 상표, 디자인, 실용신안)의 권리는 특허청 ‘키프리스’ <a href="http://www.kipris.or.kr" target="_blank">http://www.kipris.or.kr</a> 에서<br />
							등록번호 조회 후 확인 가능합니다.<br />
							저작권의 경우, ‘한국저작권위원회’ <a href="https://www.cros.or.kr" target="_blank">https://www.cros.or.kr</a> 에서 등록번호를 조회하시거나<br />
							신고 당시 안내 드린 링크 등을 통해 확인 가능합니다.<br />
							(저작권은 저작권자의 저작물 원본 파일등을 통해 신고되는 경우가 있어,<br />
							이 때에는 구체적인 권리내용 전달이 어려울 수 있습니다.)</div>
						</li>
						<li>
							<a class="qst"><em>Q</em>신고 내용에 대해 소명하고 싶습니다. 어떤 자료가 필요한가요?</a>
							<div class="ans"><em>A</em>고 접수된 권리를 침해하지 않았다는 점을 입증할 수 있는 객관적인 근거자료와 함께 소명서를 작성해주셔야 합니다.<br />
							당사 양식의 소명서 내용을 빠짐없이 작성하신 후 출력하시어 직접 날인하신 스캔본과 함께,<br />
							이에 대한 근거자료를 함께 첨부 주시기 바라며 해당 소명서와 소명근거자료는 모두 신고자에게 전달됩니다.</div>
						</li>
						<li>
							<a class="qst"><em>Q</em>소명하려고 했는데 오류가 발생해서 소명이 불가능합니다.</a>
							<div class="ans"><em>A</em>오류로 인해 소명이 어려우실 경우, 오류 내용 캡처본과 함께 당사의 지식재산권센터 메일 계정<br />
								<a href="mailto:ipcenter@wemakeprice.com">ipcenter@wemakeprice.com</a> 으로 문의 부탁 드립니다.</div>
						</li>
						<li>
							<a class="qst"><em>Q</em>소명 기한을 모르고 놓쳤는데 소명을 진행해도 되나요?</a>
							<div class="ans"><em>A</em>요청 드린 기한 내 소명을 하지 않으신 경우 분쟁 확대 방지차원에서 해당 상품은 판매중지 됩니다.<br />
							이후 다시 소명을 진행하기 원하실 경우,<br />
							소명서 작성하시어 소명근거자료와 함께 첨부 주시면 신고자에게 전달하도록 하겠으며,<br />
							이후 판매재개 가능여부에 대해서는 사안에 따라 별도 회신 드리도록 하겠습니다.</div>
						</li>
						<li>
							<a class="qst"><em>Q</em>소명 기한이 지나고 상품 수정했는데 판매재개가 안돼요.</a>
							<div class="ans"><em>A</em>지식재산권 침해로 신고 접수된 상품 침해 소명 기한 경과 등으로 판매중지 처리가 된 경우,<br />
							판매업체에서 직접 판매재개로 전환은 어렵습니다.<br />
							구체적인 수정사항을 기재하시어 지식재산권센터로 회신 주시면 확인 후<br />
							판매재개 가능여부에 대해 회신 드리도록 하겠습니다.</div>
						</li>
					</ul>
				</div>
				<!-- //파트너사용 탭 -->

				<h2 class="page-title">FAQ</h2>
				<!-- 신고자용 탭 -->
				<div class="accordion-menu">
					<ul>
						<li>
							<a class="qst"><em>Q</em>‘지식재산권' 이 뭔가요?</a>
							<div class="ans"><em>A</em>'지식재산권(intellectual property rights) 이란,<br />
							'특허권, 실용신안권, 디자인권, 상표권' 등의 산업재산권과 문학·음악·미술 작품 등에 관한 '저작권' 전체를 의미합니다.
							</div>
						</li>
						<li>
							<a class="qst"><em>Q</em>지식재산권 침해 신고를 하고 싶은데 어떤 자료가 필요한가요?</a>
							<div class="ans"><em>A</em>어떤 권리에 대한 신고인지, 신고자가 권리자(또는 권리자의 대리인)인지 확인 가능한 자료를 구체적으로 전달 주셔야 합니다.<br />
							특히나 침해 권리 유형에 따라 전달 주셔야 하는 권리입증자료가 상이하니 이 부분 꼭 확인 부탁 드립니다.<br />
							<br />
								<ul>
									<li><strong>1. 권리입증자료</strong>
										<ul>
											<li>- 특허/실용신안/디자인/상표 : 권리 등록증(또는 등록원부) 사본</li>
											<li>- 저작권 : 저작권등록증, 저작물 원본 확인이 가능한 파일 또는 URL</li>
											<li>- 기타 : 법원의 판결문, 행정 기관의 결정문 등</li>
										</ul>
									</li>
									<li><strong>2. 본인 확인 자료</strong>
										<ul>
											<li>- 신고자가 '개인' 일 경우 : 신분증 사본 (주민등록번호 뒷자리 삭제 필수)</li>
											<li>- 신고자가 '법인' 일 경우 : 사업자등록증 사본</li>
										</ul>
									</li>
									<li><strong>3. 위임장(대리인일 경우)</strong></li>
								</ul>
								<br />
								<strong>신분증 개인정보 가림처리(마스킹) 방법</strong>
								<div class="img">
									<img class="shadow2"src="/resources/img/sub/sub_faq_img_02.png" alt="">
									<dl>
										<dt>주민등록증 가림처리 영역</dt>
										<dd>1. 주민등록번호 뒷 6자리</dd>
										<dd>2. 주소지</dd>
										<dd>3. 발급일자</dd>
									</dl>
								</div>
								<div class="img">
									<img class="shadow2" src="/resources/img/sub/sub_faq_img_03.png" alt="">
									<dl>
										<dt>운전면허증 가림처리 영역</dt>
										<dd>1. 주민등록번호 뒷 6자리</dd>
										<dd>2. 주소지</dd>
										<dd>3. 적성검사기간</dd>
									</dl>
								</div>
						</div>
						</li>
						<li>
							<a class="qst"><em>Q</em>상품 상세 페이지를 도용 당했습니다. 이 경우 디자인권 신고 가능한가요?</a>
							<div class="ans"><em>A</em>'디자인권' 과 '저작권' 은 보호대상이 다르며 신고를 위한 권리 입증자료 역시 다릅니다.<br />
							'디자인권' 은 물품의 형상, 모양, 색채 또는 이들을 결합한 것으로서 시각을 통하여 미감을 일으키게 하는 것을 보호대상으로<br />
							하며 특허청에 등록된 디자인등록증(또는 등록원부)와 함께 권리자가 침해 물품을 특정하여 신고 주셔야 합니다.<br />
							'저작권' 은 사진, 영상, 그림, 음악, 편집물 등의 저작물을 보호대상으로 하며 이를 창작한 저작권자가 입증자료와 함께<br />
							침해 부분을 특정하여 신고 주셔야 합니다.</div>
						</li>
						<li>
							<a class="qst"><em>Q</em>저작권 침해 신고를 하고 싶은데 어떤 자료를 준비해야 하나요?</a>
							<div class="ans"><em>A</em>어떠한 '저작물' 에 대한 것인지, 어느 부분이 침해 인지, 신고자가 권리자가 맞는지 확인이 필요합니다.<br />
							침해를 주장하시는 저작물을 확인할 수 있도록 저작물 파일이나 귀사 자사몰 URL과 함께, 침해 부분을 비교 확인할 수 있도록<br />
							캡쳐 등을 통해 특정 부탁 드립니다.<br />
							이 때, 'URL' 은 권리자가 직접 운영하시는 자사몰 URL 이 아닐 경우, 권리자 여부를 확인하기 어려워(출처 확인이 어려워)<br />
							저작물 파일 등을 다시 요청 드릴 수 있습니다.<br />
							만일, 저작권위원회에 등록된 저작물일 경우, 저작권등록증과 함께 등록된 저작물을 확인할 수 있는 자료(이미지 파일 등) 를<br />
							함께 첨부 주시면 됩니다.</div>
						</li>
						<li>
							<a class="qst"><em>Q</em>위임장 양식이 따로 있나요? 어떤 내용이 포함되어야 하나요?</a>
							<div class="ans"><em>A</em>위임장은 반드시 당사의 양식을 따를 필요는 없으며, '위임대상권리, 위임자, 수임자, 위임기간, 위임내용 및 위임자의 의사<br />
								(날인 등)'가 확인되는 자료면 무방합니다.<br />
								만일 위임장 준비가 어려우실 경우, 본 파일을 다운로드 하시어 작성하시어 출력하신 후 직접 날인하신 스캔본을<br />
								준비 부탁 드립니다.<br />
								<br />
								<a class="f-red" href="#none"><strong>위임장 다운로드</strong></a>
							</div>
						</li>
						<li>
							<a class="qst"><em>Q</em>아직 특허청에 등록되지는 않았고, 출원하여 심사를 받는 중인데 신고 가능한가요?</a>
							<div class="ans"><em>A</em>특허청에 최종 ‘등록’된 권리에 한하여 권리침해 신고가 가능하며,<br />
							출원 심사 중인 경우는 권리자나 권리범위가 확정되지 않은 상태이므로 신고 접수가 어려운 점 양해 부탁드립니다.</div>
						</li>
						<li>
							<a class="qst"><em>Q</em>지식재산권 침해 신고하고 싶은데 어떻게 신고하나요?</a>
							<div class="ans"><em>A</em>1. 침해 사항 확인<br />
								2. 신고 대상 상품의 상품번호 확인<br />
								3. 필수 구비 서류 확인 및 준비<br />
								4. 위메프 지식재산권센터 <a href="https://wmp-ipcenter-web.wd.wemakeprice.com" target="_blank">https://wmp-ipcenter-web.wd.wemakeprice.com</a> 접속 후<br />
								상단 ‘신고하기’ 메뉴를 클릭하여 진행<br />
								<br />
								<div class="img">
									<img class="shadow1" src="/resources/img/sub/sub_faq_img_04.png" alt="">
								</div>
							</div>
						</li>
						<li>
							<a class="qst"><em>Q</em>‘상품번호’ 는 어떻게 확인할 수 있나요?</a>
							<div class="ans"><em>A</em>상세페이지 내 '상세정보' 하단에 기재된 "상품번호" 확인, 또는 페이지 URL 상 9~10 자리 숫자를 확인해주세요.<br />
								<br />
								<strong>· 상세페이지 > 상세정보</strong>
								<div class="img">
									<img class="shadow1" src="/resources/img/sub/sub_faq_img_05.png" alt="">
								</div>
								<br />
								<br />
								<strong>· 페이지 URL</strong>
								<div class="img">
									<img class="shadow1" src="/resources/img/sub/sub_faq_img_06.png" alt="">
								</div>
							</div>
						</li>
						<li>
							<a class="qst"><em>Q</em>신고하고자 하는 상품이 너무 많은데 상품번호를 전부 기재해야 되나요?</a>
							<div class="ans"><em>A</em>당사에서 임의로 침해 상품을 특정하여 신고를 진행해드리기 어려워, 대략적인 키워드나 상품종류가 아닌<br />
							신고대상 상품의 '상품번호' 를 기준으로 신고가 진행되고 있습니다.<br />
							신고자의 명확한 신고의사를 확인하고 구체적인 침해 상품의 특정을 위해<br />
							신고자 분이 직접 신고대상 상품의 '상품번호' 를 특정하여 주셔야 합니다.</div>
						</li>
						<li>
							<a class="qst"><em>Q</em>지식재산권 침해 신고를 했는데 또 다른 상품을 발견했습니다. 추가로 신고가 가능한가요?</a>
							<div class="ans"><em>A</em>신고가 접수되었다는 메일이 신고자에게 발송되었다면, 이미 담당자가 해당 건을 확인하여 진행중일 가능성이 높습니다.<br />
							업무에 혼란을 우려하여 도중에 상품번호 추가는 어려운 점 양해 부탁 드리며, 추가로 신고할 상품이 있으실 경우에는<br />
							‘지식재산권센터’ 를 통해 신고 접수 부탁드립니다.</div>
						</li>
						<li>
							<a class="qst"><em>Q</em>신고를 예전에도 했었는데 필수 제출 자료를 다시 제출해야 하나요?</a>
							<div class="ans"><em>A</em>침해권리유형, 권리 내용, 권리자, 신고자 등에 대한 확인은 "신고시점" 을 기준으로 진행됩니다.<br />
							이전에 신고를 주셨더라도 다시 신고를 주시는 시점에 변동된 권리정보가 있을 수 있어<br />
							신고시점을 기준으로 업무가 진행되는 점 양해 부탁 드립니다.</div>
						</li>
						<li>
							<a class="qst"><em>Q</em>신고 접수 후 조치결과 회신을 받았는데 침해 내용이 해결되지 않았어요.</a>
							<div class="ans"><em>A</em>과거에 신고 접수하여 이미 조치 결과에 대한 회신을 받으셨으나 동일 상품에 대해 동일한 침해행위가 다시 확인되신 경우,<br />
							언제든 지식재산권센터로 메일 주시기 바라며 확인 즉시 이에 대한 회신을 드리도록 하겠습니다.</div>
						</li>
						<li>
							<a class="qst"><em>Q</em>신고하려고 했는데 오류가 발생해서 신고가 불가능합니다.</a>
							<div class="ans"><em>A</em>오류로 인해 신고접수가 어려우실 경우, 오류 내용 캡처본과 함께 당사의 지식재산권센터 메일 계정<br />
							<a href="mailto:ipcenter@wemakeprice.com">ipcenter@wemakeprice.com</a> 으로 문의 부탁 드립니다.</div>
						</li>
						<li>
							<a class="qst"><em>Q</em>처리 결과를 알고 싶은데 어떻게 진행되고 있나요?</a>
							<div class="ans"><em>A</em>접수된 신고를 담당자가 확인 후 통상 3~5 영업일 이내에 신고자분께서 기재하신 메일로 조치 결과 또는<br />
							소명서를 전달 드리고 있습니다.<br />
							기한이 상당 경과하도록 회신이 없거나 처리 결과가 궁금하실 경우에는 지식재산권센터 메일을 통해 문의 주시기 바랍니다.</div>
						</li>
						<li>
							<a class="qst"><em>Q</em>판매자랑 협의가 되어(혹은 잘못 신고하여) 신고를 철회하고 싶은데 가능한가요?</a>
							<div class="ans"><em>A</em>당사 지식재산권 메일 계정 <a href="mailto:ipcenter@wemakeprice.com">ipcenter@wemakeprice.com</a> 으로 신고철회 메일 전달 부탁드립니다.<br />
								이 때, 신고철회 대상 상품번호를 반드시 기재하여 주시기 바랍니다.</div>
						</li>
						<li>
							<a class="qst"><em>Q</em>(독점)판매권, 재판매, 판매가격과 관련해서 다른 상품의 판매를 제재하고 싶어요</a>
							<div class="ans"><em>A</em>(독점)판매권, 재판매, 판매가격 등 신고자와 피신고자 간의 계약관계에 관한 문제에 당사는 일체 관여하지 않습니다.<br />
							신고자가 주장하는 권리가 대한민국의 공공기관에 등록된 권리가 아니거나 피신고자에 대하여<br />
							법적인 대항력을 가진 권리가 아닌 경우에도 일체 관여하지 않습니다.</div>
						</li>
					</ul>
				</div>
				<!-- //파트너사용 탭 -->

			</div>
			<!-- //sub-content -->

		</section>
		<!-- //container -->



		<!-- footer -->
		<footer id="footer">
			<div class="quick-menu">
				<ul class="center">
					<li><a href="https://front.wemakeprice.com/cs/policies/privacy" target="_blank">개인정보처리방침</a></li>
					<li><a href="/email.do">이메일 무단수집거부</a></li>
				</ul>
			</div>
			<div class="footer-info center">
				<a href="/" class="logo"><img src="/resources/img/common/footer_logo.png" alt="위메프 지식재산권 센터" /></a>

				<div class="txt-wrap">
					<p class="info">
						<span>(주)위메프 (대표이사 : 하송)</span><span>주소 : 서울특별시 강남구 영동대로 502 위메프빌딩</span><span>사업자등록번호 : 566-87-01096
					</p>
					<p class="info">
						<span>통신판매업신고번호 : 제 2019 서울 강남 03501호</span><span>관광사업등록번호 : 제2010-000024호</span>
					</p>

					<p class="copy">COPYRIGHT © WEMAKEPRICE INC. ALL RIGHT RESERVED</p>
				</div>

				<div class="contact">
					<img src="/resources/img/common/txt_contact.png" alt="고객센터 1588-4763 파트너센터 1644-4796" />
				</div>
			</div>
		</footer>
		<!-- //footer -->

		<button type="button" class="btn-top">페이지 상단으로 이동</button>
		<div class="wrap-loading display-none">
			<div><img src="/resources/img/common/loading.gif" /></div>
		</div>
	</div>

	<!-- UIDEV-1972 목업용 스크립트 -->
	<script>
		$('.qst').click(function(){
			$(this).next('.ans').toggleClass('on');
		})
	</script>
	<!-- //UIDEV-1972 목업용 스크립트 -->

</body>

</html>