%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
%center-block{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

%soldout{
	@include poslt(0,0);
	@include size(100%);
	z-index: z-index(basic);
	cursor:default;
}

//inline
%inline{
	font-size:0;
}

// ico_spr 스프라이트
%img-common{
	background:url(../spr/common.png) no-repeat;
}

%table-layout{
	width:100%;
	display:table;
	table-layout:fixed;
}

//이미지 오버레이
%img-overlay{
	&:before{
		content:'';
		@include size(100%);
		@include poslt;
		border-radius:inherit;
		background:rgba(color(black,0),.03);
		z-index:1;
	}
}

%img-replace{
	font-size:0;
	line-height:0;
	color:transparent;
}
