@mixin media-ie11{
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		@content; 
	}
}
//ellipsis 말줄임시 사용, 기본 1줄(1줄이면서 webkit-box로 사용할경우 boxline:1)
@mixin ellipsis($count:1,$boxline:null,$lineh:null){
	overflow:hidden;
	text-overflow:ellipsis;
	@if $count == 1{
		@if $boxline{
			display:-webkit-box;
			-webkit-line-clamp:$boxline;
			-webkit-box-orient:vertical;
		}@else{
			white-space:nowrap;
		}
	}@else{
		display:-webkit-box;
		-webkit-line-clamp:$count;
		-webkit-box-orient:vertical;
	}
	@include media-ie11{
		line-height: $lineh;
		max-height: calc(#{$lineh} * #{$count});
	}
}
//== Animation
@mixin animation($animation){
	-webkit-animation:$animation;
	animation:$animation;
}
@mixin animation-name($name){
	-webkit-animation-name:$name;
	animation-name:$name;
}
@mixin animation-duration($duration){
	-webkit-animation-duration:$duration;
	animation-duration:$duration;
}
@mixin animation-timing-function($timing-function){
	-webkit-animation-timing-function:$timing-function;
	animation-timing-function:$timing-function;
}
@mixin animation-delay($delay){
	-webkit-animation-delay:$delay;
	animation-delay:$delay;
}
@mixin animation-iteration-count($iteration-count){
	-webkit-animation-iteration-count:$iteration-count;
	animation-iteration-count:$iteration-count;
}
@mixin animation-direction($direction){
	-webkit-animation-direction:$direction;
	animation-direction:$direction;
}
@mixin animation-grp($name, $delay, $duration, $iteration-count, $direction, $fill-mode){
	animation-name: $name;
	animation-delay: $delay;
	animation-duration: $duration;
	animation-iteration-count: $iteration-count;
	animation-timing-function: $direction;
	animation-fill-mode: $fill-mode;
}

//Keyframes
@mixin keyframes($name){
	@-webkit-keyframes #{$name}{
		@content;
	}
	@keyframes #{$name}{
		@content;
	}
}

//position property
@mixin position($position, $top:null, $right:null, $bottom:null, $left:null) {
	position:$position;
	top:$top;
	right:$right;
	bottom:$bottom;
	left:$left;
}

@mixin fixed($args...){
	@include position(fixed, $args...);
}

@mixin absolute($args...){
	@include position(absolute, $args...);
}

@mixin posrt($right:0, $top:$right){
	@include absolute($right:$right, $top:$top);
}

@mixin poslt($left:0, $top:$left){
	@include absolute($left:$left, $top:$top);
}

@mixin posrb($right:0, $bottom:$right){
	@include absolute($right:$right, $bottom:$bottom);
}

@mixin poslb($left:0, $bottom:$left){
	@include absolute($left:$left, $bottom:$bottom);
}

//box-size model
@mixin size($width, $height:$width){
	width:$width;
	height:$height;
}

//border
@mixin bd($bd-color:color(black,6), $bd-width:1px , $bd-style:solid){
	@if length($bd-width) > 1 {
		border-style:$bd-style;
		border-color:$bd-color;
		border-width:$bd-width;
	}@else {
		border:$bd-width $bd-style $bd-color;
	}
}

// position center
@mixin center-positon($width,$height:$width){
	position:absolute;
	width:$width;
	height:$height;
	top:50%;
	left:50%;
	margin-top:- half($height);
	margin-left:- half($width);
}
//height
@mixin vt-m($height, $line-height:$height){
	height: $height;
	line-height: $line-height;
}

// icon center
@mixin ico-half{
	content: '';
	@include poslt(50%);
	transform: translate(-50%, -50%);
}
@mixin ico-half-replace{
	@include poslt(50%);
	transform: translate(-50%, -50%);
	@extend %img-replace;
}

// font
@mixin font($font-size, $line-height, $color:null){
	font-size: $font-size;
	line-height: $line-height;
	color: $color;
}
//svg
@mixin svg($url,$color:null,$position:0 0,$repeat:no-repeat){
	// background:$color url('../svg/#{$url}.svg') $position $repeat;
	background:$color url('../svg/#{$url}.svg?v='+$time) $position $repeat;
}
@mixin svg-url($url){
	background-image:url('../svg/#{$url}.svg?v='+$time);
}
@mixin svgsprite-bgposition($img){
	background-position:map-get($img, 'x') map-get($img, 'y');
}
@mixin svgsprite-rightbg($img, $width){
	width:$width;
	background-position:(map-get($img, 'x') - (map-get($img, 'width') - $width)) map-get($img, 'y');
}
@mixin svgsprite-width($img){
	width:map-get($img, 'width');
}
@mixin svgsprite-height($img){
	height:map-get($img, 'height');
}
@mixin svgsprite-size($img){
	width:map-get($img, 'width');
	height:map-get($img, 'height');
}
@mixin svgsprite($img,$url:null,$color:null){
	@include svgsprite-size($img);
	@if $url{
		@include svg($url,$color,map-get($img, 'x') map-get($img, 'y'));
	}@else{
		@include svgsprite-bgposition($img);
	}
}
@mixin svgsprite-render-classes{
	@each $shape in $svgsprite-shapes{
		.#{map-get($shape, 'name')}{
			@include svgsprite($shape);
		}
	}
}
@mixin svgcolor($img,$css:'',$width:null,$height:$width,$color:null,$repeat:no-repeat,$mask:null){
	//기본 이미지랑 크기가 다를 경우 width, height에 사이즈 입력, 사이즈 사용 안할경우 width에 'n' 입력, mask시 'y'
	$svg : map-get($img, 'svg');
	$svgsize : 'width="' + str-slice(#{map-get($img, 'width')},1,-3) + '" height="' + str-slice(#{map-get($img, 'height')},1,-3) + '"';
	@if $css!=''{
		$css : str-replace($css, '#', '%23');
		$css : '<defs><style type="text/css">'+$css+'</style></defs>';
	}

	$svgprop : $color url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" ' + $svgsize +'>' + $css + $svg + '</svg>') $repeat;
	background:$svgprop;
	@if $mask{
		-webkit-mask:$svgprop;
		mask:$svgprop;
	}

	@if $width!='n'{
		@if $width{
			@include size($width,$height);
			background-size:100%;
		}@else{
			@include svgsprite-size($img);
		}
	}
}
// svg background size
@mixin svgsprite-bgx($img){
	$bgx: map-get($img, 'bgx');
}
@mixin svgsprite-bgy($img){
	$bgy: map-get($img, 'bgy');
}
@mixin svgsprite-rem($img, $devide: 2){
	width:rem(map-get($img, 'width')/$devide);
	height:rem(map-get($img, 'height')/$devide);
	background-size: rem(map-get($img,'bgx')/$devide) rem(map-get($img,'bgy')/$devide);
	background-position: rem(map-get($img, 'x')/$devide) rem(map-get($img, 'y')/$devide);
}
// GNB
@mixin gnb($name){
	$tatal: 3;
	@for $i from 1 through $tatal{
		li{
			&:nth-child(#{$i}){
				> a{
					&.is-over{
						.base{
							animation-name: $name#{$i}-baseover;
						}
						.hover{
							animation-name: $name#{$i}-hoverover;
						}
					}
					&.is-out{
						.base{
							animation-name: $name#{$i}-baseout;
						}
						.hover{
							animation-name: $name#{$i}-hoverout;
						}
					}
				}
			}
		}
	}
}
