// color-pallettes / color(black,3);
$palettes: (
	white: (
		0: #fff
	),
	black: (
		0: #000,
		1: #222,
		2: #555,
		3: #888,
		4: #AAA,
		5: #CCC,
		6: #DDD,
		7: #EEE,
		8: #f7f7f7,
		17: #e0e0e0,
		18: #f7f8f9,
		19: #d9d9d9,
		20: #444,
	),
	red: (
		0: #FF585D
	),
	// lucy 삭제 
	blue: (
		0: #00a8d1
	),
	yellow: (
		0: #dea821
	),
	green: (
		0: #a8bd28
	),
);
// 헤더 높이
//image url
//$img-url : '/src/pc/resources/images';
// $spr-img-url : '/wmp/css/spr';
// $img-url : '/wmp/images';

//상대경로
$img-url : '../../images';
$spr-img-url : '../../css/spr';

//common sprite
// $common-spr-img:'#{$spr-img-url}/common.png';

//투명배경(ie 11이하 hover나 클릭 이슈)
// $bg-transparent:'#{$img-url}/common/bg_transparent.png';

// font-family
$base-font : Wemakeprice;
$sub-font : 'Spoqa Han Sans Neo', 'sans-serif';

// 기본 폰트 사이즈
$size: 10px;

// 폰트 사이즈
$size1: 1.3rem;
$size2: 1.4rem;
$size3: 1.6rem;
$size4: 1.8rem;
$size5: 2.0rem;
$size6: 2.4rem;
$size7: 2.8rem;
$size8: 3.4rem;
$size9: 5.2rem;
$size10: 6.0rem;


$size11: 1.1rem;
$size12: 1.2rem;
$size13: 1.3rem;
$size14: 1.4rem;
$size16: 1.6rem;
$size18: 1.8rem;
$size20: 2.0rem;
$size24: 2.4rem;
$size32: 3.2rem;
$size34: 3.4rem;
$size36: 3.6rem;
$size60: 6.0rem;


// 폰트 굵기
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
$letter-spacing: 0;

// 컨텐츠 중앙 넓이
$content-size: 1280px;

// 높이값
$header-h: 8.0rem; 
$footer-h: 24.7rem; 

// 배너 
$banner-width: 800px;
$banner-height: 433px;


$z-indexes: (
	auto							: auto,
	zero							: 0,
	low								: 1,
	basic							: 5,
	mid								: 10,
	high							: 15,
	fixed							: 500,
	layer							: 1000
);
