%spr_sub{
	background-image:url('../spr/sub.png');
	background-repeat: no-repeat;
}

$sub-img:#{$img-url}/sub;

//상단 배너 영역
.sub_top_banner{
	position:relative;
	@include size(100%,531px);
	background-size: cover;
	background-position: center center;
	margin-bottom: 115px;
	&.service{
		background-image: url(#{$sub-img}/img_sub_service_v2_01.png);
	}
	&.brand{
		background-image: url(#{$sub-img}/img_sub_brand_v2_01.png);
		span{
			padding-top: 225px;
		}
	}
	&.ethic{
		background-image: url(#{$sub-img}/img_sub_ethic_01.png);
	}
	&.wnews{
		background-image: url(#{$sub-img}/img_sub_wnews_v2_01.png);
		span{
			padding-top: 225px;
		}
	}
	span{
		display: block;
		text-align: center;
		@include font(30px,50px);
		font-family: $w-font;
		color: color(white,0);
		padding-top: 180px;
	}
}