.wnews_cont{
	~.wnews_cont{
		margin-top: 128px;
		margin-bottom: 300px;
		.center_inner{
			padding-top: 128px;
			border-top: 1px solid color(black,3);
		}
	}
	.title{
		position: relative;
		padding-bottom: 115px;
	}
	.input_wrap{
		width: 278px;
		@include posrt(0,-13px);
		input{
			width: 100%;
			@include font(14px,50px);
			font-family: $SpoqaHanSans-font;
			padding-right: 40px;
			box-sizing: border-box;
		}
		button{
			@include posrt(0,14px);
			@extend %img-common;
			font-size: 0;
			@include sprite($ico_search);
		}
	}
	.list_comm{
		.img_wrap{
			display:flex;
			height:240px;
			border-radius: 14px;
			align-items:center;
			justify-content: center;
			img{
				width: auto;
				height: auto;
				max-height:100%;
			}
		}
		&.type2{
			.img_wrap{
				@include size(380px);
				border-radius: 5px;
			}
		}
	}
	.desc{
		display: block;
		font-family: $w-font;
		margin-top: -12px;
		@include font(20px,46px);
		margin-bottom: 26px;
		&:hover{
			em{
				color: color(red,0);
			}
		}
	}
	.paging_comm{
		margin-top: 56px;
	}
	.text_wrap{
		padding-bottom: 87px;
		p{
			margin-bottom: 35px;
			@include font(18px,35px);
			color: color(black,2);
		}
	}
	.detail_info{
		margin-top: $header-height;
		padding-top: 155px;
		margin-bottom: 80px;
		text-align: center;
		span{
			display: inline-block;
			@include font(16px,34px);
			margin-bottom: 17px;
			color: color(black,14);
			vertical-align: middle;
		}
		em{
			display: inline-block;
			vertical-align: top;
			margin: 8px 10px 0;
		}
		h4{
			@include font(40px,38px);
			font-family: $w-font;
		}
	}
	.img_wrap{
		margin-bottom: 65px;
		text-align: center;
		img{
			display: inline-block;
		}
	}
	.tag_wrap{
		font-size: 0;
		text-align: center;
		li{
			display: inline-block;
			text-align: center;
			margin: 3px;
			@include font(14px,40px);
			a{
				display: block;
				border-radius: 18px;
				padding: 0 15px;
				background: color(black,16);
				&:hover{
					background: color(black,17);
				}
			}
		}
	}
	.btn_wrap{
		font-size: 0;
		text-align: center;
		margin: 120px 0 300px;
		li{
			display: inline-block;
		}
		.btn{
			width: 145px;
			padding: 0;
			text-align: center;
			margin: 0 3px;
		}
	}
}