@media screen and (max-width: 480px){
	html{
		font-size: 10px;
	}
}
@media screen and (min-width: 481px) and (max-width: 1023px){
	html{
		font-size: 13px;
	}
}
// PC 최소 넓이값 대응
@media screen and (max-width: 1280px){
	.header_wrap .header_inner_wrap{
		min-width: 100%;
	}
	.container .container_inner_wrap{
		width: 100%;
	}
	.container_inner_wrap{
		width: 100%;
		min-width: 100%;
		padding-top: rem(70px);
		padding-bottom: rem(120px);
		.container_inner{
			padding: 0 rem(20px);
		}
	}
}
//---------------------------------------------
//---------------------------------------------
// PC 대응
@media screen and (min-width: 1024px){
	.gnb{
		@include gnb(category);
		li{
			span{
				display: block;
			}
			.base{
				@include poslt(0);
				width: 100%;
				text-align: center;
				visibility: visible;
			}
			.hover{
				visibility: hidden;
				em{
					visibility: hidden;
				}
			}	
			> a{
				&.is-over{
					span{
						@include animation-grp(null, 0, 0.5s, 1, ease-in-out, forwards);
					}
					// .base{
					// 	animation-delay: 0.1s;
					// 	animation-duration: 0.3s;
					// }
					.hover{
						visibility: hidden;
					}
				}
				&.is-out{
					span{
						visibility: visible;
						@include animation-grp(null, 0, 0.1s, 1, ease-in, forwards);
					}
				}
				&.active{
					.base{
						visibility: visible;
					}
					.hover{
						visibility: visible;
						transform: translateX(0);
					}
				}	
				&.active{
					span, .base, .hover{
						visibility: visible;
						animation: none !important;
					}
					&.is-over,
					&.is-out{
						span, .base, .hover{
							visibility: visible;
							animation: none !important;
						}
					}
				}
			}
			&:nth-child(1){
				> a{
					&.is-over{
						.base{
							animation-duration: 0.2s;
						}
						.hover{
							animation-delay: 0.05s;
							animation-duration: 0.3s;
						}
					}
					&.is-out{
						.base{
							animation-duration: 0.2s;
						}
						.hover{
							animation-duration: 0.1s;
						}
					}
					&.active{
						.base{
							transform:translateX($category1);
						}
					}
				}
			}
			&:nth-child(2){
				> a{
					&.is-over{
						.base{
							animation-duration: 0.2s;
						}
						.hover{
							animation-delay: 0.05s;
							animation-duration: 0.4s;
						}
					}
					&.is-out{
						.base{
							animation-duration: 0.2s;
						}
						.hover{
							animation-duration: 0.1s;
						}
					}
					&.active{
						.base{
							transform:translateX($category2);
						}
					}
				}
			}
			&:nth-child(3){
				> a{
					&.is-over{
						.base{
							animation-duration: 0.2s;
						}
						.hover{
							animation-duration: 0.3s;
						}
					}
					&.is-out{
						.base{
							animation-duration: 0.2s;
						}
						.hover{
							animation-duration: 0.1s;
						}
					}
					&.active{
						.base{
							transform:translateX($category3);
						}
					}
				}
			}
		}
	}

}
@media screen and (min-width: 1280px){
	.center_inner{
		width: $content-size;
		min-width: $content-size;
	}
}
//---------------------------------------------
//---------------------------------------------
// 태블릿/모바일 대응 
@media screen and (max-width: 1023px){
	$header-h: 6.0rem; 
	// 공통 버튼
	a{
		&.btn{
			&.btn_recruit{
				margin-right: rem(5px);
				padding: 0 rem(16px);
			}
		}
	}
	button{
		&.btn{
			&.btn_add{
				width: 100%;
				padding: 0;
			}
		}
	}
	.btn_area{
		button{
			&.btn_category{
				&.is_mobile{
					display: inline-block;
				}
			}
		}
	}
	//---------------------------------------------
	// 상단
	.header_scroll_bar{
		@include fixed($header-h, null, null, 0);
		@include size(0, rem(3px));
	}
  .header_wrap{
		height: $header-h;
		&:before{
			@include poslt(0, $header-h);
		}
		.header_inner_wrap{
			min-width: 100%;
			height: $header-h;
			.header_inner{
				margin: 0 rem(10px);
			}
		}
		h1.logo{
			left: rem(10px);
			a{
				@include svgsprite-rem($logo, 1.2);
				&:hover{
					@include svgsprite-rem($logo_hover, 1.2);
				}
			}
		}	
		.gnb_wrap{
			display: none;
			float: none;
			// margin-top: $header-h;
		}
		.gnb{
			margin-right: 0;
			.category_list_grp{
				padding-top: rem(160px);
			}
			li{
				float: none;
				display: block;
				height: rem(80px);
				text-align: left;
				> a{
					display: block;
					@include font($size36, rem(80px), color(black,0));
					.base{
						display: none;
					}
				}
			}
			&.is_motions{
				&.is_slideup{
					li{
						@include animation-grp(slideup, 0, 0.4s, 1, ease, forwards);
						transform: translateY(rem(30px));
						opacity: 0;
						&:nth-child(1){
							animation-delay: 0.1s;
						}
						&:nth-child(2){
							animation-delay: 0.2s;
						}
						&:nth-child(3){
							animation-delay: 0.3s;
						}
					}
				}
			}
		}
		.btn_area{
			right: rem(4px);
			button{
				margin-left: 0;
			}
		}
		// 모바일 메뉴 활성화
		&.is_open{	
			height: 100%;
			.gnb_wrap{
				display: block;
			}
			.btn_recruit,
			.btn_search{
				display: none;
			}
		}
  }
	//---------------------------------------------
	// 버튼
	.btn_area{
		button{
			margin-left: rem(10px);
		}
	}
	// 팝업
	.popup{
		&.toast_popup{
			bottom: rem(54px); 
			transform: translateY(0);
			width: calc(100% - #{rem(40px)});
			.toast_box{
				width: 100%;
				padding: rem(15px) 0;
				margin: 0 rem(20px);
				transform: translate(-50%, 0);
			}
			&.is_motions{
				.toast_box{
					@include animation-grp(toastslideup, 0, 1.5s, 1, linear, forwards);
				}
			}
		}
	}
	//---------------------------------------------
	//---------------------------------------------
	// 하단
	.footer_wrap{
		height: 100%;
		.footer_inner{
			padding: rem(60px) rem(20px)
		}
		.info_area{
			.info_box{
				.info_company{
					span{
						display: block;
					}
					i{
						display: none;
					}
				}
				.info_copyright{
					margin-top: rem(12px);
				}
			}
			.side_box{
				position: relative;
				top: 0; 
				right: 0;
				margin-top: rem(40px);
				.side_sns, .side_family_site{
					display: block;
				}
				.side_family_site{
					width: 100%;
					margin-top: rem(20px);
					margin-left: 0;
				}
			}
		}
	}
	//---------------------------------------------
	// 컨테이너
	.wrap{
		height: auto;
	}
	.center_inner{
		width: 100%;
		min-width: 100%;
		&.is_mobile{
			padding: 0;
		}
	}
	.container{
		min-height: auto;
		.container_inner_wrap{
			padding-top: $header-h;
		}
	}
	//---------------------------------------------
}
