@media screen and (max-width: 480px){
	html{
		font-size: 10px;
	}
}
@media screen and (min-width: 481px) and (max-width: 1023px){
	html{
		font-size: 13px;
	}
}
// PC 최소 넓이값 대응
@media screen and (max-width: 1280px){
	.header_wrap .header_inner_wrap{
		min-width: 100%;
	}
	.container .container_inner_wrap{
		width: 100%;
	}
	.center_inner{
		width: 100%;
		min-width: 100%;
	}
}
//---------------------------------------------
//---------------------------------------------
// PC 대응
@media screen and (min-width: 1024px){
	.gnb{
		li{
			> a{
				span{
					display: block;
				}
				.base{
					@include poslt(0);
					width: 100%;
					text-align: center;
					visibility: visible;
				}
				.hover{
					visibility: hidden;
					em{
						visibility: hidden;
					}
				}	
				&:hover{
					span{
						@include animation-grp(null, 0, 0.3s, 1, linear, forwards);
					}
					.hover{
						visibility: hidden;
					}
				}
				&.active{
					.base{
						visibility: visible;
					}
					.hover{
						visibility: visible;
						transform:translateX(0);
					}
				}	
				&.active{
					&:hover{
						span, .base, .hover{
							visibility: visible;
							animation: none !important;
						}
					}
				}
			}
			&:nth-child(1){
				> a{
					&.active{
						.base{
							transform:translateX($category1);
						}
					}
				}
			}
			&:nth-child(2){
				> a{
					&.active{
						.base{
							transform:translateX($category2);
						}
					}
				}
			}
			&:nth-child(3){
				> a{
					&.active{
						.base{
							transform:translateX($category3);
						}
					}
				}
			}
		}
	}
}

//---------------------------------------------
//---------------------------------------------
// 태블릿/모바일 대응 
@media screen and (max-width: 1023px){
	$header-h: 6.0rem; 
	// 공통 버튼
	button{
		&.btn{
			&.btn_add{
				width: 100%;
				padding: 0;
			}
		}
	}
	//---------------------------------------------
	// 상단
	.header_scroll_bar{
		@include fixed($header-h, null, null, 0);
	}
  .header_wrap{
		height: $header-h;
		&:before{
			@include poslt(0, $header-h);
		}
		.header_inner_wrap{
      min-width: 100%;
			height: $header-h;
      .header_inner{
        margin: 0 rem(10px);
      }
    }
		h1.logo{
			left: rem(10px);
			a{
				@include svgsprite-rem12($logo);
				&:hover{
					@include svgsprite-rem12($logo_hover);
				}
			}
		}	

		.gnb_wrap{
			display: none;
			float: none;
			// margin-top: $header-h;
		}
		.gnb{
			margin-right: 0;
			.category_list_grp{
				padding-top: rem(100px);
			}
			li{
				float: none;
				display: block;
				height: $header-h;
				text-align: left;
				> a{
					display: block;
					@include font($size36, $header-h, color(black,0));
					.base{
						display: none;
					}
				}
			}
			&.is_motions{
				&.is_slideup{
					li{
						@include animation-grp(slideup, 0, 0.3s, 1, linear, forwards);
						transform: translateY(rem(100px));
						opacity: 0;
						&:nth-child(1){
							animation-delay: 0.4s;
						}
						&:nth-child(2){
							animation-delay: 0.8s;
						}
						&:nth-child(3){
							animation-delay: 1.2s;
						}
					}
				}
			}
		}

		.btn_area{
			right: rem(4px);
			button{
				margin-left: 0;
			}
		}
		// 모바일 메뉴 활성화
		&.is_open{	
			height: 100%;
			.gnb_wrap{
				display: block;
			}
			.btn_recruit,
			.btn_search{
				display: none;
			}
		}
  }
	//---------------------------------------------
	// 버튼
	.btn_area{
		button{
			margin-left: rem(10px);
			&.btn_category{
				display: inline-block;
			}
		}
	}
	.popup{
		&.toast_popup{
			bottom: rem(54px); 
			transform: translateY(0);
			width: calc(100% - #{rem(40px)});
			.toast_box{
				width: 100%;
				padding: rem(15px) 0;
				margin: 0 rem(20px);
				transform: translate(-50%, 0);
			}
			&.is_motions{
				.toast_box{
					@include animation-grp(toastslideup, 0, 1.5s, 1, linear, forwards);
				}
			}
		}
	}
	//---------------------------------------------
	// 검색창 상단 
	.search_pop{
		top: $header-h;
		height: rem(177px);
		.center_inner{
			width: auto;
			min-width: auto;
			padding: 0 20px;
		}
		.btn_search_pop_close{
			@include posrt(rem(10px), rem(-50px));
		}
		.search_box{
			margin-top: $header-h;
			padding-bottom: rem(4px);
		}	
	}
	// 검색창 입력 영역 : 상단/검색 페이지 공통 
	.search_box{
		width: 100%;
		padding-bottom: rem(8px);
		input[type="text"]{
			width: calc(100% - #{rem(80px)});
			font-size: $size24;
		}
		.pop_delete_btn{
			@include posrt(rem(46px), 50%);
			top: calc(50% - #{rem(4px)});
			@include size(rem(16px));
			transform: translateY(-50%);
			span{
				@include svgsprite-rem20($ic_header_pop_search_close);
			}
		}
		.search_pop_btn{
			top: calc(50% - #{rem(4px)});
			transform: translateY(-50%);
			span{
				@include svgsprite-rem13($ic_header_pop_search);
			}
		}
	}
	// 검색 영역 활성화
	.is_dim{
		.btn_area{
			display: none;
		}
	}
	//---------------------------------------------
	// 하단
	.footer_wrap{
		height: 100%;
		.footer_inner{
			padding: rem(60px) rem(20px)
		}
		.info_area{
			.info_box{
				.info_company{
					span{
						display: block;
					}
					i{
						display: none;
					}
				}
				.info_copyright{
					margin-top: rem(12px);
				}
			}
			.side_box{
				position: relative;
				top: 0; 
				right: 0;
				margin-top: rem(40px);
				.side_sns, .side_family_site{
					display: block;
				}
				.side_family_site{
					width: 100%;
					margin-top: 20px;
					margin-left: 0;
				}
			}
		}
	}
	//---------------------------------------------
	// 컨테이너
	.wrap{
		height: auto;
	}
	.center_inner{
		width: 100%;
		min-width: 100%;
	}
	.container{
		min-height: auto;
		.container_inner_wrap{
			width: 100%;
			padding-top: $header-h;
			padding-bottom: rem(120px);
			.container_inner{
				padding: 0 rem(20px);
			}
		}
	}
	//---------------------------------------------
}	
