@media screen and (min-width: 1921px){
	.content_detail_img{
		.detail_img_area{
			height: rem(700px);
		}
	}
}

// 태블릿 대응
@media screen and (max-width: 1023px){
	.container{
		&.detail{
			// 상단 이미지
			.content_detail_img{
				.detail_img_area{
					height: 0;
					padding-bottom: 56.25%;
				}
			}
			// 본문 
			.content_detail_article{
				.detail_title_article_wrap{
					width: 100%;
				}
				h3.detail_title_area{
					padding: 0 rem(20px);
					.txt_detail{
						font-size: rem(28px);
					}	
				}
				.detail_article_area{
					img{
						width: 100%;
					}
				}
				.detail_article_area{
					.article_editor{
						padding: 0 rem(20px);
					}
				}
				.article_introduce_area,
				.article_bottom_area{
					padding: 0 rem(20px);
				}
        .article_introduce_area{
          .introduce_wrap{
            padding: rem(60px) rem(32px)
          }
        }
			}
		}
	}
}
// 모바일 대응
@media screen and (max-width: 767px){
  button{
		&.btn{
			&.btn_share,  
			&.btn_list_view{
				display: block;
				width: 100%;
				padding: 0;
			}
		}
	}
  .container{
    &.detail{
			// 상단 이미지
			.content_detail_img{
				.detail_img_area{
					padding-bottom: 70%;
				}
			}
			.content_detail_article{
				margin-top: rem(40px);
				.detail_article_area{
					margin-top: rem(40px);
				}
			}
      // 상세 추천 콘텐츠 카드 리스트 미노출
      .content_detail_list{
        display: none;
      }
    }
  }
	.content_detail_img{
		.detail_img_area {
			&::before {
				@include svgsprite($ic_thumbnail_small, common);
			}
		}
	}
  .article_bottom_area{
    .article_button{
      .btn_list_view{
        position: relative;
        margin-top: rem(8px);
      }
    }
  }
}
