<!DOCTYPE html>
<html lang="ko">

<head>
	<title>위메프 기업소개 </title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="imagetoolbar" content="no" />
	<link rel="shortcut icon" href="/dist/comp/images/common/favicon.ico">
	<link rel="stylesheet" href="/dist/comp/css/common/common.css" />
	<link rel="stylesheet" href="/dist/comp/css/common/layout.css" />
	<link rel="stylesheet" href="/dist/comp/css/pages/main.css" />
	<script type="text/javascript" src="/src/comp/resources/js/jquery-1.11.2.min.js"></script>
	<!-- <script type="text/javascript" src="/src/comp/resources/js/guide.js"></script> -->
</head>

<body>
	<div class="dimmed" style="display: block;"></div>
	<div class="dim_pop_wrap">
		<div class="pop_wrap main_values_04" style="position:absolute;left:50%;margin-left:-600px;margin-top:96px;margin-bottom:96px;">
			<div class="tit">
				<h1>속도와 도전 <em>Speedy challenger</em></h1>
				<a class="btn_close"><span class="blind">팝업창 닫기</span></a>
			</div>
			<div class="content">
				<div class="content_inner">
					<p>
						기민하게 대응하거나<br />독보적으로 차별화하거나.
					</p><!-- UIDEV-1942 추가 수정 -->
					<span>완벽한 전략을 세우느라 시간을 지체하는 것보다,<br />
					핵심가치를 지키면서 빠르게 도전하고 빠르게 개선점을 찾는 것에 가치를 둡니다.<br />
					속도는 한정된 자원을 극복하는 최고의 솔루션이니까요.<br />
					자원은 한정적이지만 경쟁은 무한이기에, 끊임없이 기회를 탐색하고<br />
					신속하게 남다른 도전을 합니다. 주저하면 그저 주저앉을 뿐이니까요.<br />
					속도에 가려 변화의 기회를 놓치는 일이 없도록, ‘그건 원래 그렇다’는 생각을 늘 경계합니다.<br />
					결정이 내려지면 누구보다 빠르게 실행하고, 변화가 감지되면 유연하게 맞이하는<br />
					우리는 민첩한 도전자입니다.</span>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
