<!DOCTYPE html>
<html lang="ko">

<head>
	<title>위메프 기업소개 </title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="imagetoolbar" content="no" />
	<link rel="shortcut icon" href="/dist/comp/images/common/favicon.ico">
	<link rel="stylesheet" href="/dist/comp/css/common/common.css" />
	<link rel="stylesheet" href="/dist/comp/css/common/layout.css" />
	<link rel="stylesheet" href="/dist/comp/css/pages/main.css" />
	<script type="text/javascript" src="/src/comp/resources/js/jquery-1.11.2.min.js"></script>
	<!-- <script type="text/javascript" src="/src/comp/resources/js/guide.js"></script> -->
</head>

<body>
	<div class="dimmed" style="display: block;"></div>
	<div class="dim_pop_wrap">
		<div class="pop_wrap main_values_05" style="position:absolute;left:50%;margin-left:-600px;margin-top:96px;margin-bottom:96px;">
			<div class="tit">
				<h1>투명성 <em>Decision with Integrity</em></h1>
				<a class="btn_close"><span class="blind">팝업창 닫기</span></a>
			</div>
			<div class="content">
				<div class="content_inner">
					<p>
						내 이름을 걸고<br />일할 수 있느냐가<br />우리의 기준입니다.
					</p><!-- UIDEV-1942 추가 수정 -->
					<span>건강한 공동체를 위해 내가 한 일에 대해 항상 자신 있게<br />
					내 가족과 동료들에게 이유를 설명할 수 있어야 합니다.<br />
					그리고 그 이유에는 부끄러움이나 거짓이 없어야 하고요.<br />
					이러한 기준은 업무를 추진하는 과정은 물론 OA 룸에 놓인 볼펜을 사용하는<br />
					사소한 것에도 적용할 수 있어야 합니다.<br />
					투명성의 가치판단은 의외로 간단합니다.<br />
					내가 하는 일에 대해 내 이름을 걸고 일할 수 있느냐 입니다.</span>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
