<!DOCTYPE html>
<html lang="ko">

<head>
	<title>위메프 기업소개 </title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="imagetoolbar" content="no" />
	<link rel="shortcut icon" href="/dist/comp/images/common/favicon.ico">
	<link rel="stylesheet" href="/dist/comp/css/common/common.css" />
	<link rel="stylesheet" href="/dist/comp/css/common/layout.css" />
	<link rel="stylesheet" href="/dist/comp/css/pages/main.css" />
	<script type="text/javascript" src="/src/comp/resources/js/jquery-1.11.2.min.js"></script>
	<!-- <script type="text/javascript" src="/src/comp/resources/js/guide.js"></script> -->
</head>

<body>
	<div class="dimmed" style="display: block;"></div>
	<div class="dim_pop_wrap">
		<div class="pop_wrap main_values_02" style="position:absolute;left:50%;margin-left:-600px;margin-top:96px;margin-bottom:96px;">
			<div class="tit">
				<h1>프로팀 <em>Professional team</em></h1>
				<a class="btn_close"><span class="blind">팝업창 닫기</span></a>
			</div>
			<div class="content">
				<div class="content_inner">
					<p>
						우리는 팀워크로<br />결과를 만드는 프로팀입니다.
					</p>
					<span>위메프는 프로 스포츠팀처럼 실력 있는 사람들이 서로에게 건강한 자극제가 되어<br />
					함께 성장하는 곳입니다. 과거의 성과, 친분, 개인의 욕심보다 팀과 회사를 위한<br />
					최고의 선택이 무엇인지를 가장 중요하게 여기지요.<br />
					반대의견을 내고 논쟁을 거치는 과정에서 함께 성장할 수 있다는 것을 알기에,<br />
					‘서로 다름’이 ‘더 나음’의 기반이 된다고 생각합니다.</span>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
