@charset "utf-8";

#skipNavigation a{display:block;width:1px;height:1px;margin:0 -1px -1px 0;font-size:0;line-height:0;overflow:hidden;}
#skipNavigation a:focus{width:100%;height:auto;margin:0;padding:5px 0;text-indent:10px;line-height:1;font-weight:bold;font-size:.875rem;color:#333;}

.wrap{position:relative;overflow:hidden;min-width:1200px;}

#header{position:relative;z-index:1;box-shadow:1px 1px 8px 1px rgba(0, 0, 0, .1);}
#header .inner{padding:29px 0 28px;}
#header .inner:after{display:block;content:'';clear:both;}
#header .logo{float:left;height:28px;}
#header .gnb{float:right;}
#header .gnb li{display:inline-block;margin:0 36px;}
#header .gnb li:last-child{margin-right:0;}
#header .gnb li a{color:#222;font-size:18px;font-weight:500;}
#header .gnb li a:hover,
#header .gnb li.active a{color:#f11c00;}

#footer .quick-menu{padding:16px 0;background:#f5f5f5;}
#footer .quick-menu li{position:relative;display:inline-block;padding:0 14px;}
#footer .quick-menu li:first-child{padding-left:0;}
#footer .quick-menu li:before{position:absolute;top:50%;left:0;display:inline-block;content:'';width:1px;height:13px;margin-top:-6px;background:#ccc;}
#footer .quick-menu li:first-child:before{display:none;}
#footer .quick-menu a{color:#666;font-size:15px;line-height:1.5;}
#footer .footer-info{padding:25px 0;}
#footer .footer-info:after{display:block;content:'';clear:both;}
#footer .footer-info .logo{float:left;display:block;margin:6px 88px 0 0;}
#footer .footer-info .txt-wrap{position:relative;float:left;width:690px;}
#footer .footer-info .txt-wrap:after{position:absolute;bottom:0;right:0;display:block;content:'';width:1px;height:75px;background:#ddd;}
#footer .footer-info .info{font-size:0;}
#footer .footer-info .info span{display:inline-block;color:#888;font-size:13px;line-height:23px;}
#footer .footer-info .info span:before{display:inline-block;padding:0 5px;content:'I';}
#footer .footer-info .info span:first-child:before{display:none;}
#footer .footer-info .copy{margin-top:10px;color:#bbb;font-size:13px;font-weight:300;}
#footer .contact{float:right;}

.btn-top{position:fixed;right:5%;bottom:13%;z-index:10;width:70px;height:70px;border:0;outline:0;text-indent:-99999px;overflow:hidden;background:url('../img/common/btn_top.png') 50% no-repeat;}