/* Spoqa Han Sans Neo */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
/* WinOS Emoji 대응 */
@import url(//db.onlinewebfonts.com/c/e55c62dd52a676ea2f7da5b5d1039328?family=Noto+Color+Emoji);

@font-face {
	font-family: 'Wemakeprice';
	font-style: normal;
	font-weight: 400;
	src: url(../../fonts/Wemakeprice-Regular.woff2) format("woff2"),
		   url(../../fonts/Wemakeprice-Regular.woff) format("woff"),
}
@font-face {
	font-family: 'Wemakeprice';
	font-style: normal;
	font-weight: 600;
	src: url(../../fonts/Wemakeprice-SemiBold.woff2) format("woff2"),
		   url(../../fonts/Wemakeprice-SemiBold.woff) format("woff"),
}
@font-face {
	font-family: 'Wemakeprice';
	font-style: normal;
	font-weight: 700;
	src: url(../../fonts/Wemakeprice-Bold.woff2) format("woff2"),
		   url(../../fonts/Wemakeprice-Bold.woff) format("woff"),
}
