.content_search_result{
  margin-top: rem(80px);
  .tit_info_area{
    display: inline-block;
    span{
      display: block;
    }
    .con_tit{
      font-size: $size60;
      font-weight: $weight-medium;
      color: color(black, 1)
    }
    .con_info{
      margin-top: rem(60px);
      font-family: $sub-font;
      font-size: $size24;
      font-weight: $weight-regular;
      color: color(black, 1);
      letter-spacing: -0.5px;
      em{
        color: color(red, 0);
      }
    }
    .con_info_sub{
      margin-top: rem(8px);
      font-family: $sub-font;
      font-size: $size16;
      color: color(black, 3);
    }
    &.is_exist{
      .con_info_1{
        display: block;
      }
      .con_info_2{
        display: none;
      }
    }
    &.is_none{
      .con_info_1{
        display: none;
      }
      .con_info_2{
        display: block;
      }
    }
  }
  .card_thumb_area{
		margin-top: rem(40px);
	}
}
