.content_sub{
  margin-top: 100px;
  .tit_info_area{
    display: inline-block;
    span{
      display: block;
    }
    .con_tit{
      font-size: $size60;
      font-weight: $weight-medium;
      // TODO: font-weight: 600; 사이즈 없음 확인 필요 
      color: color(black, 1)
    }
    .con_info{
      margin-top: 12px;
      font-family: $sub-font;
      font-weight: $weight-regular;
      // TODO: font-weight: 400; 디자인상으로는 light로 보임 
      font-size: $size18;
      color: color(black, 2)
    }
    &.is_motions{
      &.is_slideup{
        .con_tit, 
        .con_info{
          transform: translateY(100px);
          opacity: 0;
          @include animation-grp(slideup, 0, 0.6s, 1, linear, forwards);
        }
        .con_tit{
          animation-delay: 0.2s;
        }
        .con_info{
          animation-delay: 0.4s;
        }
      }
    }
  }
  .card_thumb_area{
		margin-top: 100px;
	}
}
