.content_top{
	position: relative;
	margin: rem(60px) rem(32px) 0 rem(32px);
	// margin-top: rem(60px);
	.slider_area{
		position: absolute;
		top: 0; 
		right: 0;
		width: $banner-width;
		height: $banner-height;
		border-radius: rem(12px);
		background: color(black, 8);
		overflow: hidden;
		text-align: right;
		&::before{
			@include ico-half;
			@include svgsprite($ic_thumbnail_large, common);
		}
	}
	.infotxt_area{
		display: table;
		width: calc(100% - #{$banner-width} - 40px);
		height: $banner-height;
		font-family: $sub-font;
		font-size: $size52;
		font-weight: $weight-medium;
		color: color(black,1);
		text-align: left;
		.infotxt_area_wrap{
			display: table-cell;
			vertical-align: middle
		}
		.tit{
			margin-bottom: rem(12px);
			font-size: $size16;
			color: color(red,0)
		}
		.txt{
			@include ellipsis(4);
		}
	}
}
.content_middle{
	margin: rem(80px) rem(16px) 0 rem(16px);
	// margin-top: rem(80px);
	.tit{
		font-family: $sub-font;
		font-size: $size34;
		font-weight: $weight-medium;
		&.is_motions{
			transform: translateY(rem(100px));
			opacity: 0;
			&.is_slideup{
				@include animation-grp(slideup, 0.3s, 0.6s, 1, linear, forwards)
			}
		}
	}
}

