<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>위메프로그-서브</title>
	<link rel="stylesheet" href="/src/_index/idx_guide.css">
</head>
<body>
	<section class="idx">
		<h2>메인</h2>
		<ul>
			<li>
				<a href="1-main.html" target="_blank">메인 - 기본</a>
			</li>
			<li>
				<a href="1-main.html?type=search" target="_blank">메인 - 검색창 활성화</a>
			</li>
		</ul>
		<h2>서브</h2>
		<ul>
			<li>
				<a href="2-sub.html" target="_blank">서브 - 기본</a>
			</li>
			<li>
				<a href="2-sub.html?type=1" target="_blank">서브 - 일로 만나</a>
			</li>
			<li>
				<a href="2-sub.html?type=2" target="_blank">서브 - 함께 성장하고</a>
			</li>
			<li>
				<a href="2-sub.html?type=3" target="_blank">서브 - 잘 사는 삶</a>
			</li>
			<li>
				<a href="2-sub.html?type=search" target="_blank">서브 - 검색창 활성화</a>
			</li>
		</ul>
		<h2>서브 - 검색 결과</h2>
		<ul>	
			<li>
				<a href="3-sub_result.html" target="_blank">검색 - 검색 결과 있음</a>
			</li>
			<li>
				<a href="3-sub_result.html?type=none" target="_blank">검색 - 검색 결과 없음</a>
			</li>
		</ul>
		<h2>상세</h2>
		<ul>	
			<li>
				<a href="4-detail.html" target="_blank">상세 - 기본</a>
			</li>
		</ul>
	</section>
</body>
</html>
