<!DOCTYPE html>
<html lang="ko">

<head>
	<title>위메프 윤리경영 </title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="imagetoolbar" content="no" />
	<link rel="shortcut icon" href="/dist/comp/images/common/favicon.ico">
	<link rel="stylesheet" href="/dist/comp/css/common/common.css" />
	<link rel="stylesheet" href="/dist/comp/css/common/layout.css" />
	<link rel="stylesheet" href="/dist/comp/css/pages/sub.css" />
	<script type="text/javascript" src="/src/comp/resources/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="/src/comp/resources/js/guide.js"></script>
</head>

<body>

	<!-- Header 영역 -->
	<header class="header_wrap"></header>
	<!-- //Header 영역 -->

	<div id="container" class="container">
		<div class="container_inner">
			<h2 class="blind">컨텐츠영역</h2>
			<!-- 컨텐츠 영역 -->
			<div class="contents_wrap">
				<!-- keyvisual -->
				<section class="sub_top_banner ethic">
					<span class="to_left">정직, 상생, 고객만족, 사회적 책임을 핵심가치로 삼는<br />‘위메프 윤리규정’에 기반해 기업의 투명성을 높이고,<br />윤리적인 소명을 다하기 위해 모든 임직원이 솔선수범합니다.</span>
				</section>
				<!-- //keyvisual -->

				<!-- 윤리경영 -->
				<section class="ethic_cont">
					<div class="center_inner">
						<h3 class="title">윤리경영</h3>
						<div class="con_side ethics"><!-- UIDEV-1942 클래스 추가 -->
							<span>기업의 투명성을 높이고 윤리적인 소명을 다하기 위해 위메프의 모든 임직원이 지켜야 할 실천규범입니다.</span>
							<ul>
								<li>
									<i>아이콘</i>
									<div class="txt">
										<h5>정직</h5>
										<span>임직원은 주어진 권한과 책임하에서 최선을 다하며, 개인의 이익을 위해 직권남용, 은폐, 누설 행위를<br />하지 않아야 합니다.</span>
									</div>
								</li>
								<li>
									<i>아이콘</i>
									<div class="txt">
										<h5>상생</h5>
										<span>이해관계자들과 평등, 공정, 투명한 거래 관계를 구축하고, 이를 바탕으로 상생경영을 추구합니다.</span>
									</div>
								</li>
								<li>
									<i>아이콘</i>
									<div class="txt">
										<h5>고객만족</h5>
										<span>‘위메프의 진화방향은 유저의 입장에서 결정한다’는 핵심가치 아래, 고객만족을 의사결정의 기준으로 삼습니다.</span>
									</div>
								</li>
								<li>
									<i>아이콘</i>
									<div class="txt">
										<h5>사회적 책임</h5>
										<span>국내외 법률, 규칙, 규범을 준수하며 기업윤리와 상도에 어긋나는 부정한 방법으로 이익을 취하지 않습니다.</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</section>
				<!-- //윤리경영 -->

				<!-- 윤리경영 위반 제보 -->
				<section class="ethic_cont">
					<div class="center_inner">
						<h3 class="title">윤리경영<br />위반 제보</h3>
						<div class="con_side report"><!-- UIDEV-1942 클래스 추가 -->
							<ol>
								<li>
									<h5>1. 신고대상 비윤리적 행위</h5>
									<ol>
										<li>가. 임직원이 직무와 관련하여 내·외부 이해관계자로부터 금품 및 향응을 제공받은 행위</li>
										<li>나. 직무/직책을 이용하여 부당한 이득을 취하거나 회사에 손해를 끼친 행위</li>
										<li>다. 자신 또는 타인의 이익을 위하여 다른 직원의 공정한 업무 수행을 방해하는 행위</li>
										<li>라. 기타 내·외부 이해관계자와 관련된 비윤리적 행위</li>
									</ol>
								</li>
								<li>
									<h5>2. 신고자 보호제도</h5>
									<ol>
										<li>가. 직무상 또는 우연히 신고자의 신분을 인지한 임직원은 누구라도 그 신분을 누설해서는 안된다.</li>
										<li>나. 피신고자 또는 피신고자 소속 부서, 기타 관련 부서의 임직원은 윤리제보센터 등에 신고자의 신분을 문의하거나<br />
										신고자를 알아내기 위한 탐문 등 신분 노출을 가능하게 하는 어떠한 행위도 하여서는 안된다.</li>
										<li>다. 윤리제보센터 담당자는 상기 나호와 같은 문의를 받는 경우, 즉시 해당 질문이 본 규정에 의거 금지된 행위이며<br />
										처벌이 가능함을 설명하여야 한다.</li>
										<li>라. 임직원은 신고자에게 신고행위와 관련하여 어떠한 인사 상 및 기타의 불이익을 주어서는 안된다.</li>
										<li>마. 임직원이 상기 가호 내지 라호를 위반하여 신고자의 신분이 노출된 경우 윤리제보센터는<br />
										그 노출 경로를 조사하여 관련자에 대한 징계를 요청할 수 있다.</li>
										<li>바. 신고자는 자신의 신분이 노출되어 필요하다고 판단할 경우 윤리제보센터에 그 사실을 통보하고<br />
										신분 보호를 요청할 수 있다.</li>
									</ol>
								</li>
								<li>
									<h5>3. 보복행위 금지</h5>
									<ol>
										<li>가. 신고자는 피신고자 또는 관련 제3자로부터 보복을 받을 경우 그 사실을 윤리제보센터에 즉시 통보하여야 한다.</li>
										<li>나. 윤리제보센터는 1항의 통보 사실에 대해 즉시 조사하여야 하며, 보복행위와 관련된 임직원에 대해서는<br />
										인사위원회 회부 등 관련 규정에 의거 엄중 문책한다.
									</li>
									</ol>
								</li>
								<li>
									<h5>4. 신고방법</h5>
									<ol>
										<li>가. 비윤리 행위를 목격한 자는 회사 윤리제보센터로 즉시 신고하며 신고 수단은 이메일, 우편접수 등<br />신고자가 가장 편리한 방법을 선택하여 신고한다.</li>
										<li>나. 신고자는 본인 및 위반자의 인적 사항, 위반 내용을 6하 원칙에 의거하여 기재하고 관련 증거자료를<br />첨부하여 신고한다.
											<div class="table_wrap">
												<table summary="신고 가능한 목록입니다.">
													<caption>이메일 제보, 우편 제보, 온라인 제보 등으로 내용으로 구분되어있습니다.</caption>
													<colgroup>
														<col style="width:113px;">
														<col style="width:auto;">
													</colgroup>
													<tr>
														<th>이메일 제보</th>
														<td>ethics@wemakeprice.com</td>
													</tr>
													<tr>
														<th>우편 제보</th>
														<td>서울특별시 강남구 영동대로 502 위메프빌딩 윤리제보센터 앞</td>
													</tr>
													<tr>
														<th>온라인 제보</th>
														<td>윤리제보센터</td>
													</tr>
												</table>
											</div>
											<div class="btn_wrap">
												<button class="btn" type="button">제보하기</button>
											</div>
										</li>
									</ol>
								</li>
							</ol>
						</div>
					</div>
				</section>
				<!-- //윤리경영 위반 제보 -->

				<!-- 개인정보보호 원칙 -->
				<section class="ethic_cont">
					<div class="center_inner br_st2">
						<h3 class="title">개인정보보호 원칙</h3>
						<div class="con_side">
							<span>위메프 서비스를 이용하기 위해 회사에 제공한 고객의 개인정보를 안전하게 보호하겠습니다.</span>
							<ul>
								<li>
									<div class="txt">
										<span>
											· 개인정보보호에 관한 법령과 정부의 가이드를 준수합니다.<br />
											· 개인정보는 목적에 맞게 최소한으로 수집하며, 동의한 목적으로만 이용·제공합니다.<br />
											· 개인정보를 내·외부 접근으로부터 안전하게 보관하고, 책임 있게 관리합니다.<br />
											· 각 업무 단계별(서비스 도입, 운영, 종료) 보안성 검토를 의무화하여 사전에 위험요소를 제거합니다.<br />
											· 임직원 및 판매자의 개인정보보호 인식 제고를 위해 서약을 의무화하고, 교육 및 캠페인에 최선을 다합니다.
										</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</section>
				<!-- //개인정보보호 원칙 -->

				<!-- 개인정보보호 활동 -->
				<section class="ethic_cont">
					<div class="center_inner">
						<h3 class="title">개인정보보호 활동</h3>
						<div class="con_side activities"><!-- UIDEV-1942 클래스 추가 -->
							<span>고객이 안심하고 서비스를 이용할 수 있도록 책임 있는 개인정보보호 활동을 해나가겠습니다.</span>
							<ul>
								<li>
									<i>아이콘</i>
									<div class="txt">
										<h5>주문 시 ‘안심번호’를 이용하세요.</h5>
										<span>상품 주문 시 고객의 연락처 정보가 노출되지 않도록 일회성 임시번호 발급 서비스를<br />무료로 제공하고 있습니다.</span>
									</div>
								</li>
								<li>
									<i>아이콘</i>
									<div class="txt">
										<h5>‘가려진 정보 보기(마스킹)’ 제도를 시행하고 있습니다.</h5>
										<span>고객의 소중한 정보를 보다 안전하게 보호하기 위해 위메프 사이트 내 개인정보를<br />마스킹하여 표시하고 있습니다.</span>
									</div>
								</li>
								<li>
									<i>아이콘</i>
									<div class="txt">
										<h5>개인정보 이용현황을 알려드립니다.</h5>
										<span>고객의 개인정보 이용내역을 연 1회 이메일로 안내해드리고 있으며, 정보주체 이외로부터<br />수집한 개인정보를 처리할 때에는 수집 출처 등을 안내하고 있습니다.</span>
									</div>
								</li>
								<li>
									<i>아이콘</i>
									<div class="txt">
										<h5>휴면 고객의 정보는 안전하게 분리·보관합니다.</h5>
										<span>1년 이상 서비스를 이용하지 않은 고객의 개인정보는 별도로 분리·보관되며<br />이후 서비스 재이용 요청이 없을 경우 파기됩니다.</span>
									</div>
								</li>
								<li>
									<i>아이콘</i>
									<div class="txt">
										<h5>임직원 대상 철저한 보안관리를 이행하고 있습니다.</h5>
										<span>주기적 개인정보 취급 권한 검토, 교육 및 서약, 사무환경 보안 점검 등 고객의 개인정보가<br />안전하게 관리되도록 관리·감독하고 있습니다.</span>
									</div>
								</li>
								<li>
									<i>아이콘</i>
									<div class="txt">
										<h5>판매자 대상 주기적인 보안 캠페인을 진행하고 있습니다.</h5>
										<span>위메프에 입점한 판매자의 개인정보보호 인식제고를 위해 (사)개인정보보호협회,<br />(사)한국온라인쇼핑협회와 협력하여 캠페인 활동을 진행하고 있습니다.</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</section>
				<!-- //개인정보보호 활동 -->

				<!-- 개인정보보호 문의처 -->
				<section class="ethic_cont">
					<div class="center_inner">
						<h3 class="title">개인정보보호 문의처</h3>
						<div class="con_side sub_contact"><!-- UIDEV-1942 클래스 추가 -->
							<span>개인정보보호 관련 질문·제안이 있거나 개선점 발견 시, 아래 연락처로 문의 가능합니다.<br />신속하고 성실하게 답변드리겠습니다.</span>
							<a href="mailto:privacy-help@wemakeprice.com">privacy-help@wemakeprice.com</a>
						</div>
					</div>
				</section>
				<!-- //개인정보보호 문의처 -->

				<!-- 지식재산권 센터 -->
				<section class="ethic_cont">
					<div class="center_inner br_st2">
						<h3 class="title">지식재산권 센터</h3>
						<div class="con_side">
							<span>위메프에서 판매되는 상품의 지식재산권 침해를 예방하여 소비자의 건전한 소비를 도모하고,<br />
							권리자의 지식재산권을 적극적으로 보호하기 위한 목적으로 지식재산권센터를 운영하고 있습니다.<br />
							권리자(또는 권리자의 대리인)는 권리 보호를 위해 언제든 지식재산권센터를 통해 신고할 수 있습니다.</span>
						</div>
					</div>
				</section>
				<!-- //지식재산권 센터 -->

				<!-- 지식재산권 종류 -->
				<section class="ethic_cont">
					<div class="center_inner">
						<h3 class="title">지식재산권 종류</h3>
						<div class="con_side">
							<span>1) 특허/실용신안권 : 특허법 및 실용신안법에 의하여 등록되어 보호받는 발명 또는 고안에 대한 권리<br />
							2) 디자인권 : 디자인보호법에 의하여 등록되어 보호받는 디자인에 대한 권리<br />
							3) 상표권 : 상표법에 의하여 등록되어 보호받는 상표와 동일 또는 유사한 상표에 대한 권리<br />
							4) 저작권 : 저작권법에 의하여 보호받는 저작자의 권리와 이에 인접하는 권리<br />
							5) 초상권/성명권 : 개인의 초상이나 성명에 대한 권리</span>
						</div>
					</div>
				</section>
				<!-- //지식재산권 종류 -->

				<!-- 지식재산권 침해 신고절차 -->
				<section class="ethic_cont">
					<div class="center_inner">
						<h3 class="title">지식재산권 침해<br />신고절차</h3>
						<div class="con_side process"><!-- UIDEV-1942 클래스 추가 -->
							<div class="process_title">
								<ul>
									<li>권리자(신고자)</li>
									<li>지식재산권 센터</li>
									<li>판매자</li>
									<li>지식재산권 센터</li>
								</ul>
							</div>
							<div class="process_step">
								<ul>
									<li>
										<span class="num">1</span>
										<p>침해 신고 접수</p>
									</li>
									<li>
										<span class="num">2</span>
										<p>권리자 제출 서류 및<br />신고 내용 확인</p>
									</li>
									<li>
										<span class="num">3</span>
										<p>판매자(피신고자)에게<br />신고 내용 전달 및 소명 요청</p>
									</li>
									<li>
										<span class="num">4</span>
										<p>침해 신고에 대한 소명 또는<br />상품에 대한 조치 진행</p>
									</li>
									<li>
										<span class="num">5</span>
										<p>권리자에게<br />처리 결과 통보</p>
									</li>
								</ul>
							</div>
							<span>지식재산권 관련 문의 및 신고 : 위메프 지식재산권 센터</span>
							<div class="btn_wrap">
								<button class="btn" type="button">바로가기</button>
							</div>
						</div>
					</div>
				</section>
				<!-- //지식재산권 침해 신고절차 -->

			</div>
			<!-- //컨텐츠 영역 -->
		</div>
	</div><!-- // #container -->

	<!-- footer 영역 -->
	<footer class="footer_wrap"></footer>
	<!-- //footer 영역 -->

	<script type="text/javascript" src="/src/comp/resources/js/guide.js"></script>
</body>
</html>
