<!DOCTYPE html>
<html lang="ko">

<head>
	<title>위메프 브랜드 </title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="imagetoolbar" content="no" />
	<link rel="shortcut icon" href="/dist/comp/images/common/favicon.ico">
	<link rel="stylesheet" href="/dist/comp/css/common/common.css" />
	<link rel="stylesheet" href="/dist/comp/css/common/layout.css" />
	<script type="text/javascript" src="/src/comp/resources/js/jquery-1.11.2.min.js"></script>
	<!-- <script type="text/javascript" src="/src/comp/resources/js/guide.js"></script> -->
</head>

<body>
	<div class="dimmed" style="display: block;"></div>
	<div class="dim_pop_wrap">
		<div class="pop_wrap report" style="position:absolute;left:50%;margin-left:-498px;margin-top:96px;margin-bottom:96px;">
			<div class="tit">
				<h1>윤리제보센터</h1>
				<p>
					제보는 익명/실명으로 모두 작성 가능하며,<br />유/무선 전화 또는 이메일 주소를 남겨주시면 향후 처리 결과를 안내해 드립니다.<br />제보 내용은 구체적으로 작성해 주시고, 자세한 내용은 파일을 첨부해 주시길 바랍니다.<br />허위, 비방, 부정확한 내용은 처리되지 않습니다.
				</p>
				<a class="btn_close"><span class="blind">윤리제보센터 팝업창 닫기</span></a>
			</div>
			<div class="content">
				<div class="content_inner">
					<form method="post" class="informat">
						<h4 class="title">제보자 정보</h4>
						<div class="info_informant">
							<div class="form-group">
								<label for="" class="label_tit">이름</label>
								<div class="controls name">
									<div class="input_wrap full">
										<input type="text" id="" name="">
										<label class="ip_chk">
											<input type="checkbox" name="" id="" value="0">
											<i class="ico"></i>
											<span class="text">익명</span>
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="label_tit">사원여부</label>
								<div class="controls">
									<div class="input_wrap full">
										<label class="ip_radi">
											<input type="radio" name="rd_report" checked="checked">
											<i class="ico" tabindex="0"></i>
											<span class="text" tabindex="0">고객/파트너사</span>
										</label>
										<label class="ip_radi">
											<input type="radio" name="rd_report">
											<i class="ico" tabindex="0"></i>
											<span class="text" tabindex="0">임직원</span>
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="" class="label_tit">이메일</label>
								<div class="controls email">
									<!-- 0925 수정 -->
									<div class="input_wrap">
										<input type="text" id="emailId" name="emailId">@
										<input type="text" id="emailId" name="emailId" class="main_adress">
									</div>
									<div class="input_wrap">
										<div class="direct_input">
											<div class="inner">
												<select id="selectDomain" name="selectDomain" class="">
													<option value="">직접입력</option>
													<option value="naver.com">naver.com</option>
													<option value="naver.com">hanmail.net</option>
													<option value="naver.com">gmail.com</option>
													<option value="naver.com">nate.com</option>
													<option value="naver.com">hotmail.com</option>
												</select>
											</div>
										</div>
									</div>
									<!-- //0925 수정 -->
								</div>
							</div>
							<div class="form-group">
								<label class="label_tit">연락처</label>
								<div class="controls tel">
									<div class="input_wrap">
										<select id="firstTel" name="firstTel">
											<option value="010">010</option>
											<option value="011">011</option>
										</select>
									</div>
									<span class="hyphen">-</span>
									<div class="input_wrap">
										<input type="text" id="middleTel" name="middleTel" size="4" maxlength="4">
									</div>
									<span class="hyphen">-</span>
									<div class="input_wrap">
										<input type="text" id="lastTel" name="lastTel" size="4" maxlength="4">
									</div>
									<label class="ip_chk">
										<input type="checkbox" name="" id="" value="0">
										<i class="ico"></i>
										<span class="text">없음</span>
									</label>
								</div>
							</div>
						</div>

						<h4 class="title">제보 내용</h4>
						<div class="reoport_post">
							<div class="form-group">
								<label for="" class="label_tit">제목</label>
								<div class="controls report_title"><!-- 0925 수정 클래스 추가 -->
									<div class="input_wrap full">
										<input type="text" id="title" name="title" placeholder="제목을 입력해 주세요">
									</div>
								</div>
							</div>
							<div class="form-group post">
								<label for="" class="label_tit">내용</label>
								<div class="controls">
									<div class="input_wrap full">
										<textarea id="contents" name="contents" placeholder="내용을 입력해 주세요"></textarea>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="label_tit">파일첨부</label>
								<div class="controls">
									<div class="input_wrap full"><!-- 0925 수정 클래스 추가 -->
										<div class="sel_file_btn_wrap">
											<input type="text" class="file_name" readonly="" value="filename_fin.png"><!-- 0925 수정 파일명 input 추가 -->
											<label for="attachFile">파일 선택</label>
											<input type="file" value="파일추가" id="attachFile" name="attachFile" accept="image/gif, image/jpeg, image/png, application/msword, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation, text/plain, .pdf, .hwp">
											<span>용량 제한: 최대 2MB <br />형식 제한: 이미지 파일(JPG, PNG, GIF), 문서 파일(워드, 파워포인트, 엑셀, PDF, HWP, TXT)</span>
										</div>
									</div>
								</div>
							</div>
						</div>

						<h4 class="title">개인정보 수집 및 이용 안내</h4>
						<!-- 취급방침 내용 -->
						<div class="agree_tx">
							<div class="inner">
								위메프는 임직원의 불공정한 거래 행위 및 부당한 요구, 금품, 접대, 편의의 제공 및 수수 등에 대한 제보와 상담을 위해 아래와 같이 개인정보를 수집 및 이용하고 있습니다.<br>
								<br>
								1. 수집하는 개인정보 항목<br>
								• 필수정보 : 사원여부(고객/파트너사, 임직원), 이메일<br>
								• 선택정보 : 이름, 연락처(유선전화번호, 휴대폰번호)<br>
								<br>
								2. 개인정보의 수집 및 이용 목적<br>
								• 필수정보 : 제보처리 결과 회신을 위한 의사소통 경로 확보<br>
								• 선택정보 : 원활한 제보처리 및 결과 회신을 위한 연락처 확보<br>
								<br>
								3. 개인정보의 처리 및 보유 기간<br>
								• 제보처리 절차 <span style="color:black; text-decoration: underline; font-weight: bold">완료 후 지체없이 파기</span>하며, 관련 법령에 따라 보관이 필요한 경우 해당 법령에서 정한 바에 의해 개인정보를 보관할 수 있습니다.<br>
								<br>
								4. 개인정보 수집 및 이용에 대해서는 거부할 수 있으며, 거부시에는 처리 결과 회신 및 원활한 의사소통이 불가합니다.<br>
							</div>
						</div>
						<label class="ip_chk">
							<input type="checkbox" name="" id="" value="0">
							<i class="ico"></i>
							<span class="text">개인정보 수집 및 이용에 대해 동의합니다.</span>
						</label>
					</form>
					<div class="btn_wrap">
						<button href="#none" type="button"  class=""><span>등록하기</span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		function boxCheck(e) { //공통 체크박스
			$(e).toggleClass("on");
		}
		function boxRadio(e) { //공통 라디오버튼
			var grpName = $(e).prev("input").attr("name");
			$("input[name=" + grpName + "]").next("label").removeClass("on");
			$(e).addClass("on");
		}
	</script>
</body>

</html>
