
<!DOCTYPE html>
<html lang="ko">

<head>
	<title>위메프 서비스 </title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="imagetoolbar" content="no" />
	<link rel="shortcut icon" href="/dist/comp/images/common/favicon.ico">
	<link rel="stylesheet" href="/dist/comp/css/common/common.css" />
	<link rel="stylesheet" href="/dist/comp/css/common/layout.css" />
	<link rel="stylesheet" href="/dist/comp/css/pages/sub.css" />
	<script type="text/javascript" src="/src/comp/resources/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="/src/comp/resources/js/guide.js"></script>
</head>

<body>

	<!-- Header 영역 -->
	<header class="header_wrap"></header>
	<!-- //Header 영역 -->

	<div id="container" class="container">
		<div class="container_inner">
			<h2 class="blind">컨텐츠영역</h2>
			<!-- 컨텐츠 영역 -->
			<div class="contents_wrap">
				<!-- keyvisual -->
				<section class="sub_top_banner service">
					<span class="to_left">언제 어디서든 누구나 즐거운 쇼핑을 경험하고<br />더 많은 사람들이 쉽게 가격적 혜택을 누릴 수 있도록<br />사용자를 위한 최고의 커머스 플랫폼을 제공하기 위해 위메프는 도전합니다.</span>
				</section>
				<!-- //keyvisual -->

				<!-- 주요 서비스 -->
				<section class="services_cont">
					<div class="center_inner">
						<h3 class="title">주요 서비스</h3>
						<ul>
							<li>
								<a href="https://front.wemakeprice.com/" target="_blank">
									<h4>위메프</h4>
									<span>동일상품 가격 비교부터 다양한 상품·스타일 비교까지<br />특가·할인 서비스는 물론 취향에 따라<br />추천상품 정보를 제공하는 메타쇼핑 플랫폼입니다.</span>
									<div class="img"><img src="/dist/comp/images/sub/img_sub_service_list_v4_01.png" alt="위메프 이미지"></div>
								</a>
							</li>
							<li>
								<h4>위메프페이</h4>
								<span>비밀번호 입력만으로 쉽고 빠르고 안전한 결제,<br />위메프 서비스에서 사용이 가능한 간편 결제 서비스입니다.</span>
								<div class="img"><img src="/dist/comp/images/sub/img_sub_service_list_v3_02.png" alt="위메프 페이 이미지"></div>
							</li>
							<li>
								<a href="https://front.wemakeprice.com/special/category/5002332" target="_blank">
									<h4>VIP 클럽</h4>
									<span>위메프 무료 멤버십 서비스로 멤버십 회원만을 위한<br />다양하고 특별한 혜택을 제공합니다.</span>
									<div class="img"><img src="/dist/comp/images/sub/img_sub_service_list_v4_03.png" alt="위메프 VIP 클럽 이미지"></div>
								</a>
							</li>
							<li>
								<a href="https://front.wemakeprice.com/special/group/4000122" target="_blank">
									<h4>맛신선</h4>
									<span>신선식품 전문 MD가 직접 큐레이션한 상품을<br />자신있게 소개하는 신선식품 큐레이션 서비스입니다.</span>
									<div class="img"><img src="/dist/comp/images/sub/img_sub_service_list_v4_04.png" alt="위메프 맛신선 이미지"></div>
								</a>
							</li>
							<li>
								<a href="https://tour.wd.wemakeprice.com/main" target="_blank">
									<h4>W여행레저</h4>
									<span>여행특가상품과 항공·숙박·패키지 최저가 검색 및<br />예약 서비스를 제공하는 종합 여행 플랫폼입니다.</span>
									<div class="img"><img src="/dist/comp/images/sub/img_sub_service_list_v3_05.png" alt="위메프 W여행레저 이미지"></div>
								</a>
							</li>
							<li>
								<a href="https://ticket.wemakeprice.com/" target="_blank">
									<h4>W공연티켓</h4>
									<span>뮤지컬, 콘서트, 연극, 전시·체험 티켓을 합리적인 가격에<br />제공하는 공연·티켓 예매 플랫폼입니다.</span>
									<div class="img"><img src="/dist/comp/images/sub/img_sub_service_list_v3_06.png" alt="위메프 W공연티켓 이미지"></div>
								</a>
							</li>
							<li>
								<h4>W스타일</h4>
								<span>패션부터 뷰티까지 백화점 쇼핑·브랜드데이·단독 선발매 등<br />다양한 프로모션과 혜택을 제공하는 종합 스타일 쇼핑 플랫폼입니다.</span>
								<div class="img"><img src="/dist/comp/images/sub/img_sub_service_list_v4_07.png" alt="위메프 W스타일 이미지"></div>
							</li>
						</ul>
					</div>
				</section>
				<!-- //주요 서비스 -->

				<!-- 파트너 서비스 -->
				<section class="services_cont partner">
					<div class="center_inner">
						<h3 class="title">파트너 서비스</h3>
						<ul>
							<li>
								<a href="https://front.wemakeprice.com/partners/" target="_blank">
									<h4>위메프 파트너스</h4>
									<span>위메프 신규 입점 지원부터 파트너 가이드, 뉴스, 팁,<br />교육자료까지 파트너사의 성공적인 판매를 지원하고<br />각종 노하우를 제공하는 위메프 파트너 전용 사이트입니다.</span>
									<div class="img"><img src="/dist/comp/images/sub/img_sub_service_list_05.png" alt="위메프 위메프 파트너스 이미지"></div>
								</a>
							</li>
							<li>
								<a href="https://wacademy2020.modoo.at/" target="_blank">
									<h4>위메프 소담스퀘어 역삼</h4><!-- UIDEV-2141 문구 수정 -->
									<span>전문 큐레이션을 기반으로 소상공인 판매 활성화를 도모하고,<br />온·오프라인을 통해 셀러 양성 교육, 콘텐츠 제작을 지원하는<br />판매 스쿨입니다.</span>
									<div class="img"><img src="/dist/comp/images/sub/img_sub_service_list_v2_07.png" alt="W에이전시 이미지"></div>
								</a>
							</li>
						</ul>
					</div>
				</section>
				<!-- //파트너 서비스-->
			</div>
			<!-- //컨텐츠 영역 -->
		</div>
	</div><!-- // #container -->

	<!-- footer 영역 -->
	<footer class="footer_wrap"></footer>
	<!-- //footer 영역 -->

	<script type="text/javascript" src="/src/comp/resources/js/guide.js"></script>
</body>
</html>
