
<!DOCTYPE HTML>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
<meta name="format-detection" content="telephone=no">
<title>위메프 기업홈페이지 - 서브</title>
<link rel="stylesheet" href="/src/comp/_index/idx_guide.css">
</head>
<body>
<section class="idx">
	<h2>서브페이지</h2>
	<ul>
		<li>
			<a href="service.html" target="_blank">서비스</a>
		</li>
		<li>
			<a href="brand.html" target="_blank">브랜드</a>
		</li>
		<li>
			<a href="wnews.html" target="_blank">소식</a>
		</li>
		<li>
			<a href="wnews_detail.html?type=1" target="_blank">위메프로그 상세</a>
		</li>
		<li>
			<a href="ethic.html" target="_blank">윤리경영</a>
		</li>
		<li>
			<a href="pop_report.html" target="_blank">신고하기 - 팝업</a>
		</li>
	</ul>
</section>
</body>
</html>
