<!DOCTYPE html>
<html lang="ko">

<head>
	<title>위메프 소식 </title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="imagetoolbar" content="no" />
	<link rel="shortcut icon" href="/dist/comp/images/common/favicon.ico">
	<link rel="stylesheet" href="/dist/comp/css/common/common.css" />
	<link rel="stylesheet" href="/dist/comp/css/common/layout.css" />
	<link rel="stylesheet" href="/dist/comp/css/pages/sub.css" />
	<script type="text/javascript" src="/src/comp/resources/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="/src/comp/resources/js/guide.js"></script>
</head>

<body>

	<!-- Header 영역 -->
	<header class="header_wrap fixed">@@include('../layout/header.html');</header><!-- UIDEV-1942 상세 header 항상 fixed   -->
	<!-- //Header 영역 -->

	<div id="container" class="container">
		<div class="container_inner">
			<h2 class="blind">컨텐츠영역</h2>
			<!-- 컨텐츠 영역 -->
			<div class="contents_wrap">

				<!-- 위메프로그 상세 -->
				<section class="wnews_cont">
					<div class="detail_info">
						<span>NEWS</span><em>|</em><span>2021. 10. 26</span>
						<h4>식품 큐레이션 서비스 ‘맛신선’</h4>
					</div>
					<div class="img_wrap">
						<img src="https://dummyimage.com/1920x800/ddd/000" alt="">
					</div>
					<div class="center_inner">
						<div class="text_wrap">
							<p><strong>- 식품 전문 MD 검증 거친 상품으로 신뢰도 높은 온라인 식품 구매 경험 제공 목표<br />
									- 유명 맛집 메뉴를 집에서 만나는 ‘맛집배송관’…맛집 간편식 스토리텔링 콘텐츠 제공<br />
									- 신선 더욱 강조한 ‘신선배송관’…‘당도보장 코너’, ‘새벽배송 전용 상품’ 운영</strong></p>

							<p>위메프가 맛과 품질을 철저하게 검증한 식품 전용 큐레이션 코너를 선보인다.<br />
								위메프는 식품 전문 큐레이션 서비스 ‘맛신선’을 론칭한다고 2일 밝혔다. 농·축·수산물 등 신선식품과 가공식품, 유명 맛집 간편식 등 식품 카테고리를 총망라한다.<br />
								‘맛신선’에서 판매하는 모든 상품은 위메프 식품 전문 MD가 직접 전국을 돌며 철저한 검증 과정을 거친다. 온라인에서는 맛과 품질을 직접 확인하기 어려운 만큼 MD가 기준에 따라 직접 꼼꼼하게 따지고 비교한 식품을 엄선한다. 이를 통해 맛과 품질을 보장하고, 이용자가 믿고 구매할 수 있는 식품만을 판매한다는 목표다.</p>

							<p>맛신선 코너에서는 지역 명물과 맛집 간편식을 소개하는 ‘맛집배송관’, 유통 단계를 최소화한 ‘신선배송관’ 등 보다 전문화된 식품 큐레이션 서비스를 운영한다.<br />
								‘맛집배송관’에서는 인기 맛집 메뉴를 집으로 받아 볼 수 있다. 음식과 관련한 숨은 이야기를 소개하는 스토리텔링 기반 큐레이션도 운영한다. 블라인드 테스트를 거쳐 가장 맛있는 간편식을 추천하는 ‘찾았다! 인생 OO’, 여행지 맛집과 지역 특산 음식을 소개하는 ‘식탁에서 떠나는 여행’ 등이다.</p>

							<p>신선도에 더욱 초점을 맞춘 ‘신선배송관’은 당도 선별 과정을 거친 ‘당도 보장 코너’, 소용량·소포장으로 신선식품을 구매할 수 있는 ‘맛보기 코너’ 등을 운영한다. 신선함이 특히 중요한 수산물은 새벽 배송 전용 상품을 선보인다. 서울·경기·인천(일부 지역 제외)에서 오후 5시까지 주문하면 다음 날 아침 7시 이전까지 받아볼 수 있다.</p>

							<p>이 밖에 가장 인기있는 먹거리로 매일 업데이트 되는 ‘오늘의 맛’, 계절별 제철 음식 코너 등도 마련했다.</p>

							<p>위메프 박진석 맛신선TF장은 “식품 전문 지식을 가진 MD가 꼼꼼하게 제대로 검증한 식품만을 큐레이션 한다”며 “특히 먹거리는 이용자에게 신뢰도 높은 구매 경험을 제공하는 것이 가장 중요한 만큼 꾸준한 맛과 품질을 최우선으로 하겠다”고 말했다.</p>
						</div>
						<div class="tag_wrap">
							<ul>
								<li><a href="#none">#위메프맛신선</a></li>
								<li><a href="#none">#식품전문큐레이션서비스</a></li>
								<li><a href="#none">#신선배송관</a></li>
								<li><a href="#none">#맛집배송관</a></li>
								<li><a href="#none">#일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십</a></li>
								<li><a href="#none">#일이삼사오육칠팔구십</a></li>
								<li><a href="#none">#일이삼사오육칠팔구십</a></li>
								<li><a href="#none">#일이삼사오육칠팔구십</a></li>
								<li><a href="#none">#일이삼사오육칠팔구십</a></li>
								<li><a href="#none">#일이삼사오육칠팔구십</a></li>
								<li><a href="#none">#일이삼사오육칠팔구십</a></li>
							</ul>
						</div>
						<div class="btn_wrap">
							<ul>
								<li><a href="#none" class="btn st2">목록</a></li>
								<li><a href="#none" class="btn st1 btn_pop_toast">공유</a></li>
							</ul>
						</div>
					</div>
				</section>
				<!-- //위메프로그 상세 -->
			</div>
			<!-- //컨텐츠 영역 -->
			<!-- 공유 노티 팝업 -->
			<div class="pop_toast pop_share">
				<div class="pop_con">
					<div class="pop_txt">
						<span>링크가 복사되었습니다.</span>
					</div>
				</div>
			</div>
			<!-- //공유 노티 팝업 -->
		</div>
	</div><!-- // #container -->

	<!-- footer 영역 -->
	<footer class="footer_wrap"></footer>
	<!-- //footer 영역 -->

	<script type="text/javascript" src="/src/comp/resources/js/guide.js"></script>
	<script>
		$('.btn_pop_toast').click(function () {
			actionToast('.pop_share');
		});
	</script>

</body>
</html>
