<!DOCTYPE html>
<html lang="ko">

<head>
	<title>위메프 소식 </title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="imagetoolbar" content="no" />
	<link rel="shortcut icon" href="/dist/comp/images/common/favicon.ico">
	<link rel="stylesheet" href="/dist/comp/css/common/common.css" />
	<link rel="stylesheet" href="/dist/comp/css/common/layout.css" />
	<link rel="stylesheet" href="/dist/comp/css/pages/sub.css" />
	<script type="text/javascript" src="/src/comp/resources/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="/src/comp/resources/js/guide.js"></script>
</head>

<body>

	<!-- Header 영역 -->
	<header class="header_wrap">@@include('../layout/header.html');</header>
	<!-- //Header 영역 -->

	<div id="container" class="container">
		<div class="container_inner">
			<h2 class="blind">컨텐츠영역</h2>
			<!-- 컨텐츠 영역 -->
			<div class="contents_wrap">
				<!-- keyvisual -->
				<section class="sub_top_banner wnews">
					<span class="to_left">가장 빠른 위메프의 새 소식<br />우리가 공유하는 핵심가치, 문화, 함께하는 사람들의 이야기를 전합니다.</span>
				</section>
				<!-- //keyvisual -->

				<!-- 위메프로그-->
				<section class="wnews_cont">
					<div class="center_inner">
						<h3 class="title">위메프로그
							<div class="input_wrap">
								<input type="text" id="search" name="search" placeholder="검색">
								<button type="button">검색</button>
							</div>
						</h3>
						<ul class="list_comm">
							<li>
								<a href="https://front.wemakeprice.com/partners/" target="_blank">
									<div class="img_wrap">
										<img src="https://dummyimage.com/1150x350/ddd/000" alt="">
									</div>
									<span>NEWS</span>
									<h4>식품 큐레이션 서비스 ‘맛신선’</h4>
									<em>2021. 10. 26</em>
								</a>
							</li>
							<li>
								<a href="https://wacademy2020.modoo.at/" target="_blank">
									<div class="img_wrap">
										<img src="https://dummyimage.com/380x240/ddd/000" alt="">
									</div>
									<span>NEWS</span>
									<h4>위메프 VIP 클럽 이용자 4.5배 상승</h4>
									<em>2021. 10. 07</em>
								</a>
							</li>
							<li>
								<a href="https://www.ag-wemakeprice.com/" target="_blank">
									<div class="img_wrap">
										<img src="https://dummyimage.com/380x240/ddd/000" alt="">
									</div>
									<span>LIFE</span>
									<h4>우리가 일하는 방식</h4>
									<em>2021. 09. 08</em>
								</a>
							</li>
							<li>
								<a href="https://www.ag-wemakeprice.com/" target="_blank">
									<div class="img_wrap">
										<img src="https://dummyimage.com/380x240/ddd/000" alt="">
									</div>
									<span>PARTNER</span>
									<h4>온라인 판매, 위메프와 함께 시작하세요!</h4>
									<em>2021. 10. 26</em>
								</a>
							</li>
							<li>
								<a href="https://www.ag-wemakeprice.com/" target="_blank">
									<div class="img_wrap">
										<img src="https://dummyimage.com/380x240/ddd/000" alt="">
									</div>
									<span>일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십</span>
									<h4>일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십일이삼사오육칠팔구십</h4>
									<em>2021. 10. 26</em>
								</a>
							</li>
							<li>
								<a href="https://www.ag-wemakeprice.com/" target="_blank">
									<div class="img_wrap">
										<img src="https://dummyimage.com/380x240/ddd/000" alt="">
									</div>
									<span>PARTNER</span>
									<h4>온라인 판매, 위메프와 함께 시작하세요!</h4>
									<em>2021. 10. 26</em>
								</a>
							</li>
						</ul>
						<!-- 페이징 -->
						<ul class="paging_comm">
							<li><a href="#none" class="btn_prev">이전 페이지</a></li>
							<li><a href="#none">1</a></li>
							<li><a href="#none" class="ellipsis">...</a></li><!-- 줄임 표시시 .ellipsis -->
							<li><a href="#none" class="on">6</a></li><!-- 활성화시 .on -->
							<li><a href="#none">7</a></li>
							<li><a href="#none">8</a></li>
							<li><a href="#none">9</a></li>
							<li><a href="#none" class="btn_next">다음 페이지</a></li>
						</ul>
					</div>
				</section>
				<!-- //위메프로그 -->

				<!-- 브랜드피드 -->
				<section class="wnews_cont">
					<div class="center_inner">
						<h3 class="title">브랜드피드</h3>
						<a href="https://www.instagram.com/wemakeprice_brandstory/" target="_blank" class="desc">위메프 브랜드 스토리를 <em>@wemakeprice_brandstory</em>에서 만나보세요!</a>
						<ul class="list_comm type2"><!-- 브랜드피드 리스트 .type2 -->
							<li>
								<a href="https://front.wemakeprice.com/partners/" target="_blank">
									<div class="img_wrap">
										<img src="https://dummyimage.com/380x380/ddd/000" alt="">
									</div>
								</a>
							</li>
							<li>
								<a href="https://front.wemakeprice.com/partners/" target="_blank">
									<div class="img_wrap">
										<img src="https://dummyimage.com/380x380/ddd/000" alt="">
									</div>
								</a>
							</li>
							<li>
								<a href="https://front.wemakeprice.com/partners/" target="_blank">
									<div class="img_wrap">
										<img src="https://dummyimage.com/380x380/ddd/000" alt="">
									</div>
								</a>
							</li>
						</ul>
						<!-- 페이징 -->
						<ul class="paging_comm">
							<li><a href="#none" class="btn_prev">이전 페이지</a></li>
							<li><a href="#none">1</a></li>
							<li><a href="#none" class="ellipsis">...</a></li><!-- 줄임 표시시 .ellipsis -->
							<li><a href="#none" class="on">6</a></li><!-- 활성화시 .on -->
							<li><a href="#none">7</a></li>
							<li><a href="#none">8</a></li>
							<li><a href="#none">9</a></li>
							<li><a href="#none" class="btn_next">다음 페이지</a></li>
						</ul>
					</div>
				</section>
				<!-- //브랜드피드-->
			</div>
			<!-- //컨텐츠 영역 -->
		</div>
	</div><!-- // #container -->

	<!-- footer 영역 -->
	<footer class="footer_wrap"></footer>
	<!-- //footer 영역 -->

	<script type="text/javascript" src="/src/comp/resources/js/guide.js"></script>
</body>
</html>
