//header
h1.logo{
	display: inline-block;
	margin-top: 30px;
	margin-right: 286px;
	background-image: url($common-spr-img);
	@include sprite($logo_w);
	@extend %img-replace;
	vertical-align: top;
	a{
		display: block;
		height: 100%;
	}
}
.gnb_wrap{
	float: right;
	height: 100%;
	vertical-align: top;
	// gnb
	.gnb{
		@extend %clearfix;
		height: 100%;
		margin-left: 157px;
		.depth_1{
			height: 100%;
			>li{
				position: relative;
				float: left;
				padding: 24px 25px 0;
				height: 80px;
				box-sizing: border-box;
				> a{
					position: relative;
					display: inline-block;
					color: color(white,0);
					@include font(14px,30px);
					font-weight: bold;
					font-family: $w-font;
					letter-spacing: -0.5px;
					&:before{
						content:"";
						@include poslb;
						@include size(0,2px);
						background-color: color(white,0);
						transition: width 0.3s ;
					}
				}
				&:hover, &.active{
					a{
						&:before{
							width: 100%;
						}
					}
				}
				&:hover{
					a{
						~ .depth_2{
							display: block;
						}
					}
				}
				&:last-child{
					padding-right: 0;
					a{
						&:after{
							content:'';
							display: inline-block;
							margin-left: 4px;
							margin-top: -1px;
							background-image: url($common-spr-img);
							@include sprite($ico_gnb_arrow_w);
							vertical-align: middle;
						}
					}
				}
				.depth_2{
					display: none;
					@include poslt(-75px,54px);
					width: 450px;
					padding: 0 100px;
					li{
						display: inline-block;
						height: 130px;
						padding-top: 56px;
						white-space: nowrap;
						~ li{
							margin-left :30px;
						}
					}
				}
			}
		}
	}
}

header{
	position: relative;
	height: 80px;
	overflow: hidden;
	@include fixed(0,0,null,0);
	z-index: z-index(high);
	border-bottom: 1px solid transparent;
	transition: all 0.3s;
	&:after{
		content:'';
		transition: all 0.3s;
		@include poslt(0,80px);
		display:block;
		@include size(100%,1px);
		background: color(black,5);
		pointer-events: none;
		opacity: 0;
	}
	.center_inner{
		height: 100%;
	}
	&.fixed,
	&:hover{
		background: color(white,0);
		border-color: color(black,5);
		z-index: z-index(fixed);
		h1.logo{
			@include sprite($logo_r);
		}
		.gnb_wrap{
			.gnb{
				.depth_1{
					>li{
						&:hover, &.active{
							> a{
								color: color(red,0);
								&:before{
									background-color: color(red,0);
								}
							}
						}
						> a{
							color: color(black,0);
						}
						&:last-child{
							a{
								&:after{
									@include sprite($ico_gnb_arrow_b);
								}
							}

							&:hover, &.active{
								a{
									&:after{
										@include sprite($ico_gnb_arrow_r);
									}
								}
							}
						}
					}
					.depth_2{
						li{
							a{
								font-family: $w-font;
								font-size: 14px;
							}
							&:hover, &.active{
								a{
									color: color(red,0);
								}
							}
						}
					}
				}
			}
		}
		&:after{
			opacity: 1;
		}
	}
	&.active{
		height: 160px;
		border-color: color(black,5);
	}
}