// dimmed layer popup
.dimmed{
	@include size(100%);
	@include fixed(0,0,0,0);
	@include opacity-bg(.5);
	z-index: z-index(layer);
	display:none;
}
.dim_pop_wrap{
	overflow:auto;
	@include fixed(0,0,0,0);
	width: auto;
	z-index: z-index(layer) + 1;
	.pop_wrap{
		padding:100px 72px 83px;
		background:color(white,0);
		box-sizing: border-box;
		letter-spacing: -.5px;
		.tit{
			margin-top: -8px;
			h1{
				@include font(30px,52px);
				color: color(red,0);
				font-family: $w-font;
				margin-bottom: 12px;
			}
			p{
				@include font(18px,31px);
			}
			&:after{
				content:'';
				@include posrt(73px,102px);
				background-image: url($common-spr-img);
				@include sprite($ico_pup_img);
			}
		}
		.btn_close{
			display: inline-block;
			@include posrt(26px,24px);
			background-image: url($common-spr-img);
			@include sprite($ico_pup_close);
		}
		.content{
			.content_inner{
				margin:0;
				padding:0;
				overflow: visible;
				font-size: 0;
				h4.title{
					font-family: $w-font;
					@include font(18px,48px);
					margin-top: 70px;
					margin-bottom: 18px;
					padding-top: 6px;
					border-top: 1px solid color(black,1);
				}
				.label_tit{
					display: inline-block;
					width: 130px;
					@include font(16px,73px);
					color: color(black,2);
					font-weight: bold;
					vertical-align: top;
				}
				.controls{
					display: inline-block;
					width: 718px;
					white-space: nowrap;
					.hyphen{
						@include font(16px,73px);
						padding: 0 3px;
					}
					&.name{
						input{
							width: 600px;
						}
						.ip_chk{
							@include posrt(0,29px);
						}
					}
					&.tel{
						position: relative;
						select,
						input{
							width: 230px;
						}
						.ip_chk{
							@include posrb(0,-27px);
						}
					}
					&.email{
						.input_wrap{
							input{
								width: 220px;
							}
							.main_adress{
								display: inline-block;
								width: 216px;
								vertical-align: top;
								select{
									width: 100%;
								}
							}
							.direct_input{
								display: inline-block;
								width: 248px;
								line-height: 73px;
								.inner{
									position: relative;
									display: inline-block;
									&:after{
										content:'';
										@include posrt(-18px,37px);
										background-image: url($common-spr-img);
										@include sprite($ico_arrow_14);
									}
								}
							}
							~ .input_wrap{
								margin-left: 13px;
							}
						}
					}
					&.report_title{
						input{
							width: 100%;
						}
					}
				}
				.agree_tx{
					height: 117px;
					font-size: 12px;
					border: 1px solid color(black,5);
					overflow: hidden;
					margin-top: 22px;
					margin-bottom: 11px;
					.inner{
						@include size(868px,100%);
						padding: 22px 0 22px 18px;
						overflow-y: auto;
						box-sizing: border-box;
					}
					~ .ip_chk{
						padding-left: 26px;
						.text{
							color: color(black,2);
							font-weight: bold;
						}
					}
				}
				.btn_wrap{
					margin-top: 88px;
					text-align: center;
					button{
						@include size(278px,88px);
						border: 2px solid color(red,0);
						color: color(red,0);
						background: transparent;
						@include font(20px,82px);
						box-sizing: border-box;
						&:hover{
							color: color(white,0);
							background: color(red,0);
						}
					}
				}
			}
		}
		//재보하기
		&.report{
			width: 995px;
		}
	}
}
//토스트팝업
.pop_toast{
	width:100%;
	@include fixed(null,null,-150%,0);
	pointer-events:none;
	text-align:center;
	z-index:2001;
	@include transition(bottom 0s .5s);
	.pop_con{
		opacity:0;
		color:color(white,0);
		@include transition(opacity .5s);
		span{
			display: inline-block;
			@include font(16px,27px);
			color: color(black,2);
			padding: 20px;
			background: color(white,0);
			box-shadow: 0px 0px 31px rgba(color(black,0),.09);
			border-radius: 15px;
			text-align: center;
		}
	}
	&.on{
		bottom:50%;
		@include transition(bottom 0s 0s);
		.pop_con{
			opacity:1;
		}
	}

	//공유하기
	&.pop_share{
		.pop_con{
			span{
				&:before{
					content:'';
					display:inline-block;
					@extend %img-common;
					@include sprite($ico_share);
					margin-right: 8px;
					margin-top: 5px;
					vertical-align: top;
				}
			}
		}
	}
}