.paging_comm{
	font-size:0;
	text-align:center;
	li{
		display:inline-block;
		height:16px;
		padding:0 17px;
		vertical-align:top;
		a{
			display:inline-block;
			@include font(14px,18px);
			font-family: $w-font;
			color:color(black,3);
			vertical-align:top;
			&:hover,
			&.on,
			&.ellipsis{
				color:color(black,0);
			}
			&.ellipsis{
				margin-top:-5px;
			}
		}
	}

	//Button
	[class*=btn_]{
		display:inline-block;
		font-size: 0;
		@include size(9px,16px);
		vertical-align:top;
		// @extend %img-common;
	}
	.btn_prev{
		margin-right: 3px;
		@include sprite-position($ico_pagination_left_arrow);
	}
	.btn_next{
		margin-left: 3px;
		@include sprite-position($ico_pagination_right_arrow);
	}
}
