// 검색창 상단 
.search_pop{
	display: none;
	@include poslt(0, $header-h);
	width: 100%; 
	height: rem(230px);
	background-color: color(white,0);
	text-align: center;
	.btn_search_pop_close{
		@include posrt(rem(36px), rem(32px));
		@include size(3.6rem);
		display: block;
		span{
			display: inline-block;
			vertical-align: middle;
			@include svgsprite($ic_header_pop_close, common);
			@extend %img-replace;
		}
	}
}
.search_pop{
	.search_box{
		margin-top: rem(80px);
	}
}
// 검색 영역 활성화
.is_dim{
	.search_pop{
		display: block;
	}
}

// 검색창 입력 영역 : 상단/검색 페이지 공통 
.search_box{
	position: relative;
	display: inline-block;
	width: 592px;
	padding-bottom: rem(12px);
	border-bottom: 2px solid color(black,2);
	text-align: left;
	input[type="text"]{
		width: calc(100% - #{rem(120px)});
		font-family: $sub-font;
		letter-spacing: -0.5px;
		text-align: left;
		@include font($size34, null, color(black,1));
		&::placeholder{
			color: color(black,5);
		}
	}
	button{
		> span{
			@include ico-half-replace;
		}
	}
	.pop_delete_btn{
		@include posrt(rem(54px), rem(13px));
		@include size(rem(24px));
		background-color: color(black,5);
		border-radius: 50%;
		span{
			@include svgsprite($ic_header_pop_search_close, common);
		}
	}
	.search_pop_btn{
		@include posrt(rem(-12px), rem(0));
		@include size(rem(50px));
		span{
			@include svgsprite($ic_header_pop_search, common);
		}
	}
}
