<!DOCTYPE html>
<html lang="ko">
<head>
	<title>위메프로그 </title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="imagetoolbar" content="no">
	<link rel="shortcut icon" href="/dist/wmplog/images/common/favicon.ico">
	<link rel="stylesheet" href="/dist/wmplog/css/common/common.css" />
	<link rel="stylesheet" href="/dist/wmplog/css/common/layout.css" />
	<link rel="stylesheet" href="/dist/wmplog/css/pages/detail.css" />
	<!-- 디자인QA용 -->
	<script type="text/javascript" src="/src/wmplog/resources/js/jquery-1.11.2.min.js"></script>
</head>

<!-- js body | is_dim: 검색버튼 클릭시 검색 영역 활성화 -->
<body class="body">
	<div class="wrap">
			<!-- Header -->
			<!-- layout/header.html -->
			<header class="header_wrap"></header>
			<!-- //Header -->

			<!-- container/detail: 상세페이지 -->
			<main class="container detail">
				<h2 class="blind">컨텐츠영역</h2>

				<div class="container_inner_wrap">
					<div class="container_inner">

						<section class="content_detail_img">
							<div class="detail_img_area">
								<img src="../../resources/images/temp/img_detail_top_1.jpg" alt="상세이미지">
							</div>
						</section>

						<!-- content_detail: 상세 콘텐츠 -->
						<section class="content_detail_article">
							<div class="detail_title_article_wrap">
								<h3 class="detail_title_area">
									<div class="txt_tit">WE MAKE IT 카테고리</div>
									<div class="txt_detail">❤SJF위메프 서울재즈페스티벌에 위메프가 떴다!🤭</div>
									<div class="txt_date">2022.07.11</div>
								</h3>

								<article class="detail_article_area">
									<div class="article_title">
										여러분의 올여름 버킷리스트는 무엇인가요? 👀
									</div>

									<div class="article_content">
										코로나19 거리두기가 해제가 되면서 ‘야외 페스티벌 즐기기’는 꼭 있을 것만 같은데요! <br>
										위메프 공연티켓에는 오직 위메프에서만 만날 수 있는 콘서트와 페스티벌 그리고 다양한 공연, 전시, 체험이 여러분을 기다리고 있어요. 더불어 공연 MD가 직접 큐레이션 한 단 한 번뿐인 특별한 공연, ‘컬처데이’와 ‘위멮데이’까지 만나보실 수 있답니다! 
									</div>
								
									<div class="article_img">
										<img src="../../resources/images/temp/img_detail_con_1.jpg" alt="상세이미지" width="800">
									</div>
								
									<div class="article_title">
										안녕하세요! 김나경 매니저님, <br>
										위메프 공연 티켓 서비스에 대해 소개해 주세요!
									</div>

									<div class="article_content">
										위메프 공연티켓은 뮤지컬, 콘서트, 연극, 전시·체험 티켓을 합리적인 가격에 제공하는 공연티켓 예매 플랫폼입니다. 공연티켓 특가와 랭킹, 예매 오픈 일정의 실시간 확인이 가능해요. 또 위메프 예매 회원만 누리는 특별 혜택과 위메프 단독회차 공연도 즐길 수 있습니다.
										지난 2년간의 팬데믹을 지나 공연도 활기를 되찾고 있는 것 같아요.💃 위메프 공연티켓에서는 어떤 상품들을 큐레이션하고 있나요?
										지금 가장 핫한 콘서트와 페스티벌, 그리고 다양한 공연, 전시 등을 보여드리기 위해 노력하고 있어요.
										오직 위메프 고객만을 위한 문화 행사인 컬처데이와 위멮데이도 큐레이션하고 있습니다.
										
									</div>

									<a href="" class="link">👉 현재 진행중인 추천공연 바로가기</a>

									<div class="article_blockquote">	
										<div class="txt">
											말씀 주신 공연들을 큐레이션 할 때 어떤 점에 가장 중점을 두나요? <br><br>
											“놀라운 가격에 트렌드를 발견할 수 있도록, ‘좋은 가격에 좋은 공연을 보여 드리는 것’에 중점을 두고 있어요. 예를 들어 콘서트나 페스티벌의 경우 입장할 수 있는 인원이 한정되어 있고, 가격 또한 정해져 있는 편이에요. “
										</div>
									</div>
									

									<div class="article_img">
										<img src="../../resources/images/temp/img_detail_con_2.jpg" alt="상세이미지" width="800">
									</div>

									<div class="article_content">
										두 번째는 😉위메프 컬처데이로 만나 보실 수 있는 뮤지컬 &lt;모래시계&gt;인데요.
										네, 여러분이 알고 있는 그 국민 드라마 모래시계를 원작으로 재탄생된 뮤지컬입니다!
										배우분들의 무대인사는 물론 특별한 선물도 준비되어 있고, 무엇보다 놀라운 할인가로 보실 수 있어 강추 드립니다. .
									</div>

									<div class="article_introduce">
										<div class="introduce_wrap">
											<div class="introduce_img">
												<img src="../../resources/images/temp/img_profile_1.jpg" alt="프로필이미지" width="80" height="80" >
											</div>
											<div class="introduce_name">
												<span>김나영</span>님
											</div>
											<div class="introduce_team">위메프 공연티켓팀</div>
											<div class="introduce_txt">
												위메프 공연티켓팀에서 콘서트, 페스티벌, 클래식,콘서트, 페스티벌, 클래식,콘서트, 페스티벌, 클래식을 담당하고 하고있어요. 더불어 MD가 직접 큐레이션 하는 컬처데이, 위메프데이도 운영하고 있습니다.
											</div>
										</div>
									</div>


									<div class="article_bottom">
										<div class="article_hash_tag">
											<ul class="hash_tag_list_grp">
												<li class="hash_tag_list">#서재페</li>
												<li class="hash_tag_list">#추천공연</li>
												<li class="hash_tag_list">#워터밤부산</li>
												<li class="hash_tag_list">#위메프공연티켓</li>
												<li class="hash_tag_list">#공연할인</li>
												<li class="hash_tag_list">#서재페</li>
												<li class="hash_tag_list">#추천공연</li>
												<li class="hash_tag_list">#워터밤부산</li>
												<li class="hash_tag_list">#위메프공연티켓</li>
												<li class="hash_tag_list">#공연할인</li>
											</ul>
										</div>
										<div class="article_button">
											<button class="btn btn_line st1 btn_share">
												<span class="txt txt_share">공유</span>
											</button>
											<button class="btn btn_fill st1 btn_list_view">
												<span>목록으로 가기</span>
											</button>
										</div>
									</div>

								</article>
							</div>

						</section>
						<!-- //content_detail -->

						<section class="content_detail_list">
							<div class="center_inner">
								<!-- js is_motions: 애니메이션 -->
								<h3 class="tit is_motions is_slideup">추천 콘텐츠</h3>

								<!-- 카드 리스트 영역 -->
								<!-- layout/card_list.html -->
								<div class="card_thumb_area"></div>
								<!-- //카드 리스트 영역 -->
							</div>
						</section>


					</div>
				</div>
				<!-- // #container -->
			</main>
			<!-- //container/sub -->

			<!-- footer -->
			<!-- layout/footer.html -->
			<footer class="footer_wrap"></footer>
			<!-- //footer -->

	</div>


	<!-- <script src="../../resources/js/index.js"></script> -->

	<!-- 디자인QA용 -->
	<script type="text/javascript" src="/src/wmplog/resources/js/guide.js"></script>
</body>
</html>
