<!DOCTYPE html>
<html lang="ko">
<head>
	<title>위메프로그 </title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="imagetoolbar" content="no">
	<link rel="shortcut icon" href="/dist/wmplog/images/common/favicon.ico">
	<link rel="stylesheet" href="/dist/wmplog/css/common/common.css" />
	<link rel="stylesheet" href="/dist/wmplog/css/common/layout.css" />
	<link rel="stylesheet" href="/dist/wmplog/css/pages/detail.css" />
	<!-- 디자인QA용 -->
	<script type="text/javascript" src="/src/wmplog/resources/js/jquery-1.11.2.min.js"></script>
</head>

<!-- js body | is_dim: 검색버튼 클릭시 검색 영역 활성화 -->
<body class="body">
	<div class="wrap">
			<!-- Header -->
			<!-- layout/header.html -->
			<header class="header_wrap"></header>
			<!-- //Header -->

			<!-- container/detail: 상세페이지 -->
			<main class="container detail">
				<h2 class="blind">컨텐츠영역</h2>

				<!-- <div class="container_img_wrap">
					<div class="detail_top_img_area">
						<img src="../../resources/images/temp/img_detail_top_1.jpg" alt="상세이미지">
					</div>
				</div> -->

				<div class="container_inner_wrap">
					<div class="container_inner">

						<section class="content_detail_top">
							<div class="detail_img_area">
								<img src="../../resources/images/temp/img_detail_top_1.jpg" alt="상세이미지">
							</div>
						</section>

						<!-- content_detail: 상세 콘텐츠 -->
						<section class="content_detail_middle">
							<h3 class="detail_title_area">
								<span>WE MAKE IT 카테고리</span>
								<div>❤SJF위메프 서울재즈페스티벌에 위메프가 떴다!🤭</div>
							</h3>
						</section>
						<!-- //content_detail -->

					</div>
				</div>
				<!-- // #container -->
			</main>
			<!-- //container/sub -->

			<!-- footer -->
			<!-- layout/footer.html -->
			<footer class="footer_wrap"></footer>
			<!-- //footer -->

	</div>
	<!-- 디자인QA용 -->
	<script type="text/javascript" src="/src/wmplog/resources/js/guide.js"></script>
</body>
</html>
