<div class="card_thumb_wrap">
	<ul class="card_thumb_list_grp">
		<!-- js is_motions: 애니메이션 / 검색 페이지는 모션 사용하지 않음 -->
		<li class="card_thumb_list is_motions is_slideup">
			<a class="card_link" href="#">
				<div class="card_img">
					<img src="../../resources/images/temp/img_thumb_1.jpg" alt="소식 썸네일 이미지" width="384" height="256">
				</div>
				<div class="card_txt">
					<div class="txt_tit">WE MAKE IT 채용</div>
					<div class="txt_detail">
						😀 서울재즈페스티벌에 팬데믹을 뚫고 3년만에 돌아왔습니다!
						😀 서울재즈페스티벌에 팬데믹을 뚫고 3년만에 돌아왔습니다!
					</div>
					<div class="txt_date">2022.07.11</div>
				</div>
			</a>
		</li>
		<li class="card_thumb_list is_motions is_slideup">
			<a class="card_link" href="#">
				<div class="card_img">
					<img src="../../resources/images/temp/img_thumb_2.jpg" alt="소식 썸네일 이미지" width="384" height="256">
				</div>
				<div class="card_txt">
					<div class="txt_tit">WE MAKE IT 채용</div>
					<div class="txt_detail">
						😀 서울재즈페스티벌에 팬데믹을 뚫고 3년만에 돌아왔습니다!
					</div>
					<div class="txt_date">2022.07.11</div>
				</div>
			</a>
		</li>
		<li class="card_thumb_list is_motions is_slideup">
			<a class="card_link" href="#">
				<div class="card_img">
					<img src="../../resources/images/temp/img_thumb_3.jpg" alt="소식 썸네일 이미지" width="384" height="256">
				</div>
				<div class="card_txt">
					<div class="txt_tit">WE MAKE IT 채용</div>
					<div class="txt_detail">
						😀 서울재즈페스티벌에 팬데믹을 뚫고 3년만에 돌아왔습니다!
					</div>
					<div class="txt_date">2022.07.11</div>
				</div>
			</a>
		</li>
		<li class="card_thumb_list is_motions is_slideup">
			<a class="card_link" href="#">
				<div class="card_img">
					<video width="" height="" controls></video>
				</div>
				<div class="card_txt">
					<div class="txt_tit">WE MAKE IT 채용</div>
					<div class="txt_detail">
						😀 서울재즈페스티벌에 팬데믹을 뚫고 3년만에 돌아왔습니다!
					</div>
					<div class="txt_date">2022.07.11</div>
				</div>
			</a>
		</li>
		<li class="card_thumb_list is_motions is_slideup">
			<a class="card_link">
				<div class="card_img">
					<img src="../../resources/images/temp/img_thumb_4.jpg" alt="소식 썸네일 이미지" width="384" height="256">
				</div>
				<div class="card_txt">
					<div class="txt_tit">WE MAKE IT 채용</div>
					<div class="txt_detail">
						😀 서울재즈페스티벌에 팬데믹을 뚫고 3년만에 돌아왔습니다!
					</div>
					<div class="txt_date">2022.07.11</div>
				</div>
			</a>
		</li>
		<li class="card_thumb_list is_motions is_slideup">
			<a class="card_link">
				<div class="card_img">
					<img src="../../resources/images/temp/img_thumb_4.jpg" alt="소식 썸네일 이미지" width="384" height="256">
				</div>
				<div class="card_txt">
					<div class="txt_tit">WE MAKE IT 채용</div>
					<div class="txt_detail">
						😀 서울재즈페스티벌에 팬데믹을 뚫고 3년만에 돌아왔습니다!
					</div>
					<div class="txt_date">2022.07.11</div>
				</div>
			</a>
		</li>
		<li class="card_thumb_list is_motions is_slideup">
			<a class="card_link">
				<div class="card_img">
					<img src="../../resources/images/temp/img_thumb_4.jpg" alt="소식 썸네일 이미지" width="384" height="256">
				</div>
				<div class="card_txt">
					<div class="txt_tit">WE MAKE IT 채용</div>
					<div class="txt_detail">
						😀 서울재즈페스티벌에 팬데믹을 뚫고 3년만에 돌아왔습니다!
					</div>
					<div class="txt_date">2022.07.11</div>
				</div>
			</a>
		</li>
		<li class="card_thumb_list is_motions is_slideup">
			<a class="card_link">
				<div class="card_img">
					<img src="../../resources/images/temp/img_thumb_4.jpg" alt="소식 썸네일 이미지" width="384" height="256">
				</div>
				<div class="card_txt">
					<div class="txt_tit">WE MAKE IT 채용</div>
					<div class="txt_detail">
						😀 서울재즈페스티벌에 팬데믹을 뚫고 3년만에 돌아왔습니다!
					</div>
					<div class="txt_date">2022.07.11</div>
				</div>
			</a>
		</li>
		<li class="card_thumb_list is_motions is_slideup">
			<a class="card_link">
				<div class="card_img">
					<img src="../../resources/images/temp/img_thumb_4.jpg" alt="소식 썸네일 이미지" width="384" height="256">
				</div>
				<div class="card_txt">
					<div class="txt_tit">WE MAKE IT 채용</div>
					<div class="txt_detail">
						😀 서울재즈페스티벌에 팬데믹을 뚫고 3년만에 돌아왔습니다!
					</div>
					<div class="txt_date">2022.07.11</div>
				</div>
			</a>
		</li>
	</ul>
</div>
<div class="btn_box">
	<button type="button" class="btn btn_line st1 btn_add">
		<span class="txt txt_add">더보기</span>
	</button>
</div>
<script src="../../resources/js/index.js"></script>
