<div class="center_inner">
	<div class="footer_inner">
		<!-- 하단 로고 -->
		<h1 class="footer_logo">
			<a href="/"><span class="blind">위메프</span></a>
		</h1>
		<!-- 하단 로고 -->
		
		<!-- 하단 카테고리 -->
		<div class="info_area">
			<div class="category_box">
				<ul class="category_list_grp">
					<li class="category_list">
						<a href="/src/wmplog/views/page/2-sub.html?type=1" target="_self">일로 만나</a>
					</li>
					<li class="category_list">
						<a href="/src/wmplog/views/page/2-sub.html?type=2" target="_self">함께 성장하고</a>
					</li>
					<li class="category_list">
						<a href="/src/wmplog/views/page/2-sub.html?type=3" target="_self">잘 사는 삶</a>
					</li>
				</ul>
			</div>
			<!-- //하단 카테고리 -->
			
			<!-- 하단 링크 -->
			<div class="side_box">
				<div class="side_sns">
					<a class="sns_youtube" href="https://www.youtube.com/channel/UCycODVGPKYpydxbZ-VdQlcA" target="_blank" title="유튜브 열기">YouTube</a>
					<a class="sns_facebook" href="https://www.facebook.com/wemakeprice/" target="_blank" title="페이스북 열기">Facebook</a>
					<a class="sns_instagram" href="https://www.instagram.com/wemakeprice_kr/" target="_blank" title="인스타그램 열기">Instagram</a>
				</div>
				<!-- js 패밀리 사이트 is_select 활성화 is_unselect 비활성화 -->
				<div class="side_family_site is_unselect">
					<button class="btn btn_line st2 btn_site">
						<span class="txt txt_site">위메프 사이트</span>
					</button>
					<ul class="site_list_grp">
						<li class="site_list">
							<a href="https://front.wemakeprice.com/main" target="_blank" title="위메프 사이트 열기"  class="site_link">위메프</a>
						</li>
						<li class="site_list">
							<a href="https://company.wemakeprice.com/" target="_blank" title="기업소개 사이트 열기" class="site_link">기업소개</a>
						</li>
						<li class="site_list">
							<a href="https://recruit.wemakeprice.com/" target="_blank" title="채용 사이트 열기" class="site_link">채용</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- //하단 링크 -->

			<!-- 하단 정보 -->
			<div class="info_box">
				<div class="info_company">
					<span>고객센터 : 1588-4763 <i>,</i></span>
					<span>여행·레저/공연티켓/E쿠폰 : 1611-4764 <i>,</i>
					<span>파트너센터 : 1644-4796</span>
				</div>
				<div class="info_copyright">
					© 2022 WEMAKEPRICE Inc. All rights reserved 
				</div>
			</div>
			<!-- //하단 정보 -->

		</div>
		
	</div>
</div>
<script src="../../resources/js/footer.js"></script>
