<!-- js header.header_wrap is_open: 모바일 대응 -->
<div class="header_inner_wrap">
	<div class="header_scroll_bar"></div>
	<div class="header_inner">
		<h1 class="logo">
			<a href="https://blog.wemakeprice.com" target="_self" title="위메프로그">위메프로그</a>
		</h1>
		<div class="gnb_wrap">
			<!-- 카테고리 메뉴 -->
			<nav class="gnb is_motions is_slideup">
				<ul class="category_list_grp">
					<li class="category work">
						<!-- js active: 메뉴 활성화 -->
						<a href="/src/wmplog/views/page/2-sub.html?type=1" class="">
							<span class="base">일</span>
							<span class="hover"><em>일</em>로 만나</span>
						</a>
					</li>
					<li class="category together">
						<!-- js active: 메뉴 활성화 -->
						<a href="/src/wmplog/views/page/2-sub.html?type=2" class="">
							<span class="base">함께</span>
							<span class="hover"><em>함께</em> 성장하고</span>
						</a>
					</li>
					<li class="category life">
						<!-- js active: 메뉴 활성화 -->
						<a href="/src/wmplog/views/page/2-sub.html?type=3" class="">
							<span class="base">삶</span>
							<span class="hover">잘 사는 <em>삶</em></span>
						</a>
					</li>
				</ul>
			</nav>
			<!-- //카테고리 메뉴 --> 
		</div>
		<!-- 지원/검색/메뉴 버튼 -->
		<div class="btn_area">
			<a class="btn btn_line st2 btn_recruit" href="https://recruit.wemakeprice.com" target="_blank" title="채용 사이트 열기">
				<span class="txt txt_recruit">지원하러가기</span>
			</a>
			<button class="btn_search"> 
				<span class="i_search">검색</span>
			</button>
			<!-- js btn_category: 모바일 카테고리 열기 / btn_open_close 닫기 -->
			<button class="btn_category device-m">
				<span class="i_category">모바일 메뉴</span>
			</button>
		</div>
		<!-- //지원/검색/메뉴 버튼 -->
	</div>
</div>

<!-- 검색 팝 영역 -->
<div class="search_pop search_wrap">
	<div class="center_inner center">
		<button class="btn btn_search_pop_close">
			<span>닫기</span>
		</button>
		<div class="search_box">
			<input type="text" placeholder="검색어를 입력해 주세요" class="search_pop_input">
			<button class="btn pop_delete_btn">
				<span>삭제</span>
			</button>
			<button class="btn search_pop_btn">
				<span>검색</span>
			</button>
		</div>
	</div>
</div>
<!-- //검색 팝 영역 -->

<script src="../../resources/js/header.js"></script>
<!-- <script src="../../resources/js/index.js"></script> -->

