	<h1 class="logo">
		<a href="https://blog.wemakeprice.com">위메프로그</a>
	</h1>
	<div class="gnb_wrap">
		<nav class="gnb">

			<!-- 카테고리 메뉴 -->
			<div class="category_area">
				<ul class="">
					<li class="category work">
						<!-- js active: 활성화 -->
						<a href="#none" class="active">
							<span class="base">일</span>
							<span class="hover"><em>일</em>로 만나</span>
						</a>
					</li>
					<li class="category together">
						<a class="" href="#none">
							<span class="base">함께</span>
							<span class="hover"><em>함께</em> 성장하고</span>
						</a>
					</li>
					<li class="category life">
						<a class="" href="#none">
							<span class="base">삶</span>
							<span class="hover">잘 사는 <em>삶</em></span>
						</a>
					</li>
				</ul>
			</div>
			<!-- //카테고리 메뉴 --> 

			<!-- 지원/검색/메뉴 버튼 -->
			<div class="btn_area">
				<a class="btn_recruit" href="https://recruit.wemakeprice.com">
					<span>지원하러가기</span>
				</a>
				<button class="btn_search"> 
					<span>검색</span>
				</button>
				<!-- 768이하 -->
				<button class="btn_category device-768">
					<span>모바일 메뉴</span>
				</button>
			</div>
			<!-- //지원/검색/메뉴 버튼 -->

		</nav>
	</div>

<script>
	//헤더
	// $('.depth_1 > li').not('.last').on('mouseenter', function (e) {
	// 	$(this).parents('.header_wrap').addClass('active');
	// })
	// $('.depth_1 > li').on('mouseleave', function (e) {
	// 	$(this).parents('.header_wrap').removeClass('active');
	// })
</script>
