.list_comm{
	font-size: 0;
	margin: 0 -15px;
	font-family: $w-font;
	li{
		display: inline-block;
		width: 380px;
		margin: 0 15px 52px;
		vertical-align:top;
		.img_wrap{
			margin-bottom: 24px;
			overflow: hidden;
			img{
				display: block;
				@include size(100%);
			}
		}
		span{
			display: block;
			@include font(16px,28px);
			color: color(black,14);
			@include ellipsis;
		}
		h4{
			display: block;
			@include font(22px,40px);
			font-weight: normal;
			@include ellipsis;
		}
		em{
			@include font(16px,26px);
			color: color(black,14);
			font-family: $SpoqaHanSans-font;
		}
		&:hover{
			.img_wrap{
				box-shadow: 0 19px 31px rgba(color(black,0),.09);
			}
			h4{
				color: color(red,0);
			}
		}
	}
}